ElitaPlus/Service References/QuestionService/QuestionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://elita.assurant.com/Elita/QuestionService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ElitaClaimService/Config/QuestionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetQuestionSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="questionSetCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cultureCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://elita.assurant.com/Elita/QuestionService" minOccurs="0" name="GetQuestionSetResult" nillable="true" type="q1:QuestionSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="QuestionSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentVersion" nillable="true" type="xs:int" />
      <xs:element xmlns:q2="http://elita.assurant.com/Elita/QuestionService" minOccurs="0" name="Versions" nillable="true" type="q2:ArrayOfQuestionSetVersion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q3="http://elita.assurant.com/Elita/QuestionService" name="QuestionSet" nillable="true" type="q3:QuestionSet" />
  <xs:complexType name="ArrayOfQuestionSetVersion">
    <xs:sequence>
      <xs:element xmlns:q4="http://elita.assurant.com/Elita/QuestionService" minOccurs="0" maxOccurs="unbounded" name="QuestionSetVersion" nillable="true" type="q4:QuestionSetVersion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q5="http://elita.assurant.com/Elita/QuestionService" name="ArrayOfQuestionSetVersion" nillable="true" type="q5:ArrayOfQuestionSetVersion" />
  <xs:complexType name="QuestionSetVersion">
    <xs:sequence>
      <xs:element minOccurs="0" name="VersionNumber" type="xs:int" />
      <xs:element xmlns:q6="http://elita.assurant.com/Elita/QuestionService" minOccurs="0" name="Activations" nillable="true" type="q6:ArrayOfQuestionSetActivation" />
      <xs:element xmlns:q7="http://elita.assurant.com/Elita/QuestionService" minOccurs="0" name="Questions" nillable="true" type="q7:ArrayOfQuestion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q8="http://elita.assurant.com/Elita/QuestionService" name="QuestionSetVersion" nillable="true" type="q8:QuestionSetVersion" />
  <xs:complexType name="ArrayOfQuestionSetActivation">
    <xs:sequence>
      <xs:element xmlns:q9="http://elita.assurant.com/Elita/QuestionService" minOccurs="0" maxOccurs="unbounded" name="QuestionSetActivation" nillable="true" type="q9:QuestionSetActivation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q10="http://elita.assurant.com/Elita/QuestionService" name="ArrayOfQuestionSetActivation" nillable="true" type="q10:ArrayOfQuestionSetActivation" />
  <xs:complexType name="QuestionSetActivation">
    <xs:sequence>
      <xs:element minOccurs="0" name="EffectiveDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpirationDateTime" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q11="http://elita.assurant.com/Elita/QuestionService" name="QuestionSetActivation" nillable="true" type="q11:QuestionSetActivation" />
  <xs:complexType name="ArrayOfQuestion">
    <xs:sequence>
      <xs:element xmlns:q12="http://elita.assurant.com/Elita/QuestionService" minOccurs="0" maxOccurs="unbounded" name="Question" nillable="true" type="q12:Question" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q13="http://elita.assurant.com/Elita/QuestionService" name="ArrayOfQuestion" nillable="true" type="q13:ArrayOfQuestion" />
  <xs:complexType name="Question">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LabelId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="UiProgCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Translation" nillable="true" type="xs:string" />
      <xs:element xmlns:q14="http://elita.assurant.com/Elita/QuestionService" minOccurs="0" name="AnswerType" type="q14:AnswerTypes" />
      <xs:element minOccurs="0" name="Mandatory" type="xs:boolean" />
      <xs:element minOccurs="0" name="Length" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Precision" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Scale" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SequenceNumber" type="xs:int" />
      <xs:element xmlns:q15="http://elita.assurant.com/Elita/QuestionService" minOccurs="0" name="PreConditions" nillable="true" type="q15:ArrayOfQuestionPreCondition" />
      <xs:element xmlns:q16="http://elita.assurant.com/Elita/QuestionService" minOccurs="0" name="Answers" nillable="true" type="q16:ArrayOfAnswer" />
      <xs:element xmlns:q17="http://elita.assurant.com/Elita/QuestionService" minOccurs="0" name="Channels" nillable="true" type="q17:ArrayOfQuestionChannel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q18="http://elita.assurant.com/Elita/QuestionService" name="Question" nillable="true" type="q18:Question" />
  <xs:simpleType name="AnswerTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Choice" />
      <xs:enumeration value="Date" />
      <xs:enumeration value="Text" />
      <xs:enumeration value="ListOfValues" />
      <xs:enumeration value="Number" />
      <xs:enumeration value="Content" />
      <xs:enumeration value="Boolean" />
      <xs:enumeration value="LegalConsent" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q19="http://elita.assurant.com/Elita/QuestionService" name="AnswerTypes" nillable="true" type="q19:AnswerTypes" />
  <xs:complexType name="ArrayOfQuestionPreCondition">
    <xs:sequence>
      <xs:element xmlns:q20="http://elita.assurant.com/Elita/QuestionService" minOccurs="0" maxOccurs="unbounded" name="QuestionPreCondition" nillable="true" type="q20:QuestionPreCondition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q21="http://elita.assurant.com/Elita/QuestionService" name="ArrayOfQuestionPreCondition" nillable="true" type="q21:ArrayOfQuestionPreCondition" />
  <xs:complexType name="QuestionPreCondition">
    <xs:sequence>
      <xs:element xmlns:q22="http://elita.assurant.com/Elita/QuestionService" minOccurs="0" name="PreConditionType" type="q22:PreConditionTypes" />
      <xs:element minOccurs="0" name="QuestionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnswerCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q23="http://elita.assurant.com/Elita/QuestionService" name="QuestionPreCondition" nillable="true" type="q23:QuestionPreCondition" />
  <xs:simpleType name="PreConditionTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Equal" />
      <xs:enumeration value="NotEqual" />
      <xs:enumeration value="PreviousQuestionsComplete" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q24="http://elita.assurant.com/Elita/QuestionService" name="PreConditionTypes" nillable="true" type="q24:PreConditionTypes" />
  <xs:complexType name="ArrayOfAnswer">
    <xs:sequence>
      <xs:element xmlns:q25="http://elita.assurant.com/Elita/QuestionService" minOccurs="0" maxOccurs="unbounded" name="Answer" nillable="true" type="q25:Answer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q26="http://elita.assurant.com/Elita/QuestionService" name="ArrayOfAnswer" nillable="true" type="q26:ArrayOfAnswer" />
  <xs:complexType name="Answer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SequenceNumber" type="xs:int" />
      <xs:element minOccurs="0" name="LabelId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="UiProgCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Translation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q27="http://elita.assurant.com/Elita/QuestionService" name="Answer" nillable="true" type="q27:Answer" />
  <xs:complexType name="ArrayOfQuestionChannel">
    <xs:sequence>
      <xs:element xmlns:q28="http://elita.assurant.com/Elita/QuestionService" minOccurs="0" maxOccurs="unbounded" name="QuestionChannel" nillable="true" type="q28:QuestionChannel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q29="http://elita.assurant.com/Elita/QuestionService" name="ArrayOfQuestionChannel" nillable="true" type="q29:ArrayOfQuestionChannel" />
  <xs:complexType name="QuestionChannel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q30="http://elita.assurant.com/Elita/QuestionService" name="QuestionChannel" nillable="true" type="q30:QuestionChannel" />
  <xs:element name="SaveQuestionSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://elita.assurant.com/Elita/QuestionService" minOccurs="0" name="value" nillable="true" type="q31:QuestionSet" />
        <xs:element minOccurs="0" name="cultureCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveQuestionSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://elita.assurant.com/Elita/QuestionService" minOccurs="0" name="SaveQuestionSetResult" nillable="true" type="q32:QuestionSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchQuestionSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="questionSetCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="questionSetDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchQuestionSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://elita.assurant.com/Elita/QuestionService" minOccurs="0" name="SearchQuestionSetResult" nillable="true" type="q33:ArrayOfQuestionSetInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfQuestionSetInfo">
    <xs:sequence>
      <xs:element xmlns:q34="http://elita.assurant.com/Elita/QuestionService" minOccurs="0" maxOccurs="unbounded" name="QuestionSetInfo" nillable="true" type="q34:QuestionSetInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q35="http://elita.assurant.com/Elita/QuestionService" name="ArrayOfQuestionSetInfo" nillable="true" type="q35:ArrayOfQuestionSetInfo" />
  <xs:complexType name="QuestionSetInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q36="http://elita.assurant.com/Elita/QuestionService" name="QuestionSetInfo" nillable="true" type="q36:QuestionSetInfo" />
</xs:schema>