ElitaPlus/Service References/QuestionService/QuestionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://elita.assurant.com/Elita/QuestionService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://elita.assurant.com/Elita/QuestionService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://elita.assurant.com/Elita/QuestionService/Imports">
      <xsd:import schemaLocation="http://localhost/ElitaClaimService/Config/QuestionService.svc?xsd=xsd0" namespace="http://elita.assurant.com/Elita/QuestionService" />
      <xsd:import schemaLocation="http://localhost/ElitaClaimService/Config/QuestionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQuestionService_GetQuestionSet_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionSet" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetQuestionSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionSetResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_SaveQuestionSet_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveQuestionSet" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_SaveQuestionSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveQuestionSetResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_SearchQuestionSet_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchQuestionSet" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_SearchQuestionSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchQuestionSetResponse" />
  </wsdl:message>
  <wsdl:portType name="IQuestionService">
    <wsdl:operation name="GetQuestionSet">
      <wsdl:input wsaw:Action="http://elita.assurant.com/Elita/QuestionService/IQuestionService/GetQuestionSet" message="tns:IQuestionService_GetQuestionSet_InputMessage" />
      <wsdl:output wsaw:Action="http://elita.assurant.com/Elita/QuestionService/IQuestionService/GetQuestionSetResponse" message="tns:IQuestionService_GetQuestionSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveQuestionSet">
      <wsdl:input wsaw:Action="http://elita.assurant.com/Elita/QuestionService/IQuestionService/SaveQuestionSet" message="tns:IQuestionService_SaveQuestionSet_InputMessage" />
      <wsdl:output wsaw:Action="http://elita.assurant.com/Elita/QuestionService/IQuestionService/SaveQuestionSetResponse" message="tns:IQuestionService_SaveQuestionSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchQuestionSet">
      <wsdl:input wsaw:Action="http://elita.assurant.com/Elita/QuestionService/IQuestionService/SearchQuestionSet" message="tns:IQuestionService_SearchQuestionSet_InputMessage" />
      <wsdl:output wsaw:Action="http://elita.assurant.com/Elita/QuestionService/IQuestionService/SearchQuestionSetResponse" message="tns:IQuestionService_SearchQuestionSet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>