BusinessObjects/Service References/DRPSystem/ElitaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://maxvalue.assurant.com/" elementFormDefault="qualified" targetNamespace="http://maxvalue.assurant.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthenticationHeader">
    <xs:sequence>
      <xs:element name="Password" nillable="true" type="xs:string" />
      <xs:element name="UserName" nillable="true" type="xs:string" />
      <xs:element name="VersionNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationHeader" nillable="true" type="tns:AuthenticationHeader" />
  <xs:complexType name="ResponseHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element name="StatusCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseHeader" nillable="true" type="tns:ResponseHeader" />
</xs:schema>