BusinessObjects/Service References/DRPSystem/ElitaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ElitaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://maxvalue-qa.assurant.com/Elita/ElitaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://maxvalue-qa.assurant.com/Elita/ElitaService.svc?xsd=xsd2" namespace="http://maxvalue.assurant.com/" />
      <xsd:import schemaLocation="http://maxvalue-qa.assurant.com/Elita/ElitaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MaxValueRecovery_Get_DoesAcceptedOfferExist_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_DoesAcceptedOfferExist" />
  </wsdl:message>
  <wsdl:message name="MaxValueRecovery_Get_DoesAcceptedOfferExist_InputMessage_Headers">
    <wsdl:part xmlns:q1="http://maxvalue.assurant.com/" name="AuthenticationHeader" element="q1:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="MaxValueRecovery_Get_DoesAcceptedOfferExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_DoesAcceptedOfferExistResponse" />
  </wsdl:message>
  <wsdl:message name="MaxValueRecovery_Get_DoesAcceptedOfferExist_OutputMessage_Headers">
    <wsdl:part xmlns:q2="http://maxvalue.assurant.com/" name="ResponseHeader" element="q2:ResponseHeader" />
  </wsdl:message>
  <wsdl:portType name="MaxValueRecovery">
    <wsdl:operation name="Get_DoesAcceptedOfferExist">
      <wsdl:input wsaw:Action="http://tempuri.org/MaxValueRecovery/Get_DoesAcceptedOfferExist" message="tns:MaxValueRecovery_Get_DoesAcceptedOfferExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MaxValueRecovery/Get_DoesAcceptedOfferExistResponse" message="tns:MaxValueRecovery_Get_DoesAcceptedOfferExist_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_MaxValueRecovery" type="tns:MaxValueRecovery">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get_DoesAcceptedOfferExist">
      <soap:operation soapAction="http://tempuri.org/MaxValueRecovery/Get_DoesAcceptedOfferExist" style="document" />
      <wsdl:input>
        <soap:header message="tns:MaxValueRecovery_Get_DoesAcceptedOfferExist_InputMessage_Headers" part="AuthenticationHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:MaxValueRecovery_Get_DoesAcceptedOfferExist_OutputMessage_Headers" part="ResponseHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ElitaService">
    <wsdl:port name="BasicHttpBinding_MaxValueRecovery" binding="tns:BasicHttpBinding_MaxValueRecovery">
      <soap:address location="http://maxvalue-qa.assurant.com/Elita/ElitaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>