BusinessObjects/Service References/LegacyBridgeService/LegacyBridgeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://elita.assurant.com/Elita/LegacyBridgeService" elementFormDefault="qualified" targetNamespace="http://elita.assurant.com/Elita/LegacyBridgeService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ElitaClaimService/LegacyBridgeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimService.Contracts.ClaimService" />
  <xs:element name="ExecuteClaimRecordingRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claimId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="benefitCheckFlag" type="xs:boolean" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimService.Contracts.ClaimService" minOccurs="0" name="hasBenefitAction" type="q1:HasBenefitActionEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteClaimRecordingRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteClaimRecordingRulesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BenefitClaimPreCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caseId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BenefitClaimPreCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimService.Contracts.ClaimService" minOccurs="0" name="BenefitClaimPreCheckResult" nillable="true" type="q2:LegacyBridgeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>