BusinessObjects/Service References/LegacyBridgeService/LegacyBridgeService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://elita.assurant.com/Elita/LegacyBridgeService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://elita.assurant.com/Elita/LegacyBridgeService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://elita.assurant.com/Elita/LegacyBridgeService/Imports">
      <xsd:import schemaLocation="http://localhost/ElitaClaimService/LegacyBridgeService.svc?xsd=xsd0" namespace="http://elita.assurant.com/Elita/LegacyBridgeService" />
      <xsd:import schemaLocation="http://localhost/ElitaClaimService/LegacyBridgeService.svc?xsd=xsd3" namespace="http://assurant.com/Elita/ServiceIntegration/Faults" />
      <xsd:import schemaLocation="http://localhost/ElitaClaimService/LegacyBridgeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/ElitaClaimService/LegacyBridgeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimService.Contracts.ClaimService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILegacyBridgeService_ExecuteClaimRecordingRules_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteClaimRecordingRules" />
  </wsdl:message>
  <wsdl:message name="ILegacyBridgeService_ExecuteClaimRecordingRules_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteClaimRecordingRulesResponse" />
  </wsdl:message>
  <wsdl:message name="ILegacyBridgeService_ExecuteClaimRecordingRules_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://assurant.com/Elita/ServiceIntegration/Faults" name="detail" element="q1:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ILegacyBridgeService_BenefitClaimPreCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:BenefitClaimPreCheck" />
  </wsdl:message>
  <wsdl:message name="ILegacyBridgeService_BenefitClaimPreCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:BenefitClaimPreCheckResponse" />
  </wsdl:message>
  <wsdl:message name="ILegacyBridgeService_BenefitClaimPreCheck_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://assurant.com/Elita/ServiceIntegration/Faults" name="detail" element="q2:ValidationFault" />
  </wsdl:message>
  <wsdl:portType name="ILegacyBridgeService">
    <wsdl:operation name="ExecuteClaimRecordingRules">
      <wsdl:input wsaw:Action="http://elita.assurant.com/Elita/LegacyBridgeService/ILegacyBridgeService/ExecuteClaimRecordingRules" message="tns:ILegacyBridgeService_ExecuteClaimRecordingRules_InputMessage" />
      <wsdl:output wsaw:Action="http://elita.assurant.com/Elita/LegacyBridgeService/ILegacyBridgeService/ExecuteClaimRecordingRulesResponse" message="tns:ILegacyBridgeService_ExecuteClaimRecordingRules_OutputMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/LegacyBridgeService/ILegacyBridgeService/ExecuteClaimRecordingRulesValidationFaultFault" name="ValidationFaultFault" message="tns:ILegacyBridgeService_ExecuteClaimRecordingRules_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="BenefitClaimPreCheck">
      <wsdl:input wsaw:Action="http://elita.assurant.com/Elita/LegacyBridgeService/ILegacyBridgeService/BenefitClaimPreCheck" message="tns:ILegacyBridgeService_BenefitClaimPreCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://elita.assurant.com/Elita/LegacyBridgeService/ILegacyBridgeService/BenefitClaimPreCheckResponse" message="tns:ILegacyBridgeService_BenefitClaimPreCheck_OutputMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/LegacyBridgeService/ILegacyBridgeService/BenefitClaimPreCheckValidationFaultFault" name="ValidationFaultFault" message="tns:ILegacyBridgeService_BenefitClaimPreCheck_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>