BusinessObjects/Service References/LegacyBridgeService/LegacyBridgeService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://assurant.com/Elita/ServiceIntegration/Faults" elementFormDefault="qualified" targetNamespace="http://assurant.com/Elita/ServiceIntegration/Faults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ValidationFault">
    <xs:sequence>
      <xs:element name="Items" nillable="true" type="tns:ArrayOfValidationFaultItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationFault" nillable="true" type="tns:ValidationFault" />
  <xs:complexType name="ArrayOfValidationFaultItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValidationFaultItem" nillable="true" type="tns:ValidationFaultItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValidationFaultItem" nillable="true" type="tns:ArrayOfValidationFaultItem" />
  <xs:complexType name="ValidationFaultItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="MemberName" nillable="true" type="xs:string" />
      <xs:element name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationFaultItem" nillable="true" type="tns:ValidationFaultItem" />
</xs:schema>