BusinessObjects/Service References/Felita/FelitaConnectService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://mia0wappt015/FelitaConnect/FelitaConnectService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://mia0wappt015/FelitaConnect/FelitaConnectService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FelitaConnect" />
  <xs:import schemaLocation="http://mia0wappt015/FelitaConnect/FelitaConnectService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="FileInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="Stream" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchId" nillable="true" type="xs:string" />
  <xs:element name="BusinessUnit" nillable="true" type="xs:string" />
  <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FelitaConnect" name="FileType" type="q2:FileType" />
  <xs:element name="StreamLength" type="xs:int" />
  <xs:element name="ResponseInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ErrorMessages" nillable="true" type="q3:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="result" type="xs:boolean" />
  <xs:element name="GetBatchStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="batchId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="businessUnit" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBatchStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBatchStatusResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsJournalInfo.JournalInfoDataTable" Namespace="http://schemas.datacontract.org/2004/07/FelitaConnect.DataSet" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/dsJournalInfo.xsd" name="namespace" />
            <xs:attribute fixed="JournalInfoDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>