BusinessObjects/Service References/ClaimFulfillmentWebAppGatewayService/gateway.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://assurant.com/Elita/ClaimFulfillment/WebAppGateway/Data" elementFormDefault="qualified" targetNamespace="http://assurant.com/Elita/ClaimFulfillment/WebAppGateway/Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://l16mia0d9243f5t.cead.prd/ElitaClaimFulfillment/WebAppGateway/gateway?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="GetDeliverySlotsRequest">
    <xs:sequence>
      <xs:element name="ServiceCenterCode" nillable="true" type="xs:string" />
      <xs:element name="CountryCode" nillable="true" type="xs:string" />
      <xs:element name="DeliveryAddress" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="CourierCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CourierProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LookupDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDeliverySlotsRequest" nillable="true" type="tns:GetDeliverySlotsRequest" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="GetDeliverySlotsResponse">
    <xs:sequence>
      <xs:element name="DeliveryEstimates" nillable="true" type="tns:ArrayOfDeliveryEstimate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDeliverySlotsResponse" nillable="true" type="tns:GetDeliverySlotsResponse" />
  <xs:complexType name="ArrayOfDeliveryEstimate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeliveryEstimate" nillable="true" type="tns:DeliveryEstimate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeliveryEstimate" nillable="true" type="tns:ArrayOfDeliveryEstimate" />
  <xs:complexType name="DeliveryEstimate">
    <xs:sequence>
      <xs:element name="Behavior" nillable="true" type="tns:PresentationBehavior" />
      <xs:element minOccurs="0" name="CourierCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CourierProductCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="AvailableDeliveryDays" nillable="true" type="tns:ArrayOfDeliveryDay" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryEstimate" nillable="true" type="tns:DeliveryEstimate" />
  <xs:complexType name="PresentationBehavior">
    <xs:sequence>
      <xs:element name="SelectionAllowed" type="xs:boolean" />
      <xs:element name="UseDeliverySlot" type="xs:boolean" />
      <xs:element name="AllowSelectionAfterLastDeliveryDate" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PresentationBehavior" nillable="true" type="tns:PresentationBehavior" />
  <xs:complexType name="ArrayOfDeliveryDay">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeliveryDay" nillable="true" type="tns:DeliveryDay" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeliveryDay" nillable="true" type="tns:ArrayOfDeliveryDay" />
  <xs:complexType name="DeliveryDay">
    <xs:sequence>
      <xs:element name="DeliveryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeliverySlots" nillable="true" type="tns:ArrayOfDeliverySlot">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryDay" nillable="true" type="tns:DeliveryDay" />
  <xs:complexType name="ArrayOfDeliverySlot">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeliverySlot" nillable="true" type="tns:DeliverySlot" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeliverySlot" nillable="true" type="tns:ArrayOfDeliverySlot" />
  <xs:complexType name="DeliverySlot">
    <xs:sequence>
      <xs:element name="BeginTime" type="ser:duration" />
      <xs:element name="EndTime" type="ser:duration" />
      <xs:element name="Description" nillable="true" type="xs:string" />
      <xs:element name="Group" nillable="true" type="xs:string" />
      <xs:element name="Sequence" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliverySlot" nillable="true" type="tns:DeliverySlot" />
  <xs:complexType name="CustomerDecisionRequest">
    <xs:sequence>
      <xs:element name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element name="AuthorizationNumber" nillable="true" type="xs:string" />
      <xs:element name="CustomerDecision" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerDecisionRequest" nillable="true" type="tns:CustomerDecisionRequest" />
  <xs:complexType name="CustomerDecisionResponse">
    <xs:sequence>
      <xs:element name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element name="AuthorizationNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerDecisionResponse" nillable="true" type="tns:CustomerDecisionResponse" />
  <xs:complexType name="GetFulfillmentDetailsRequest">
    <xs:sequence>
      <xs:element name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element name="ClaimNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFulfillmentDetailsRequest" nillable="true" type="tns:GetFulfillmentDetailsRequest" />
  <xs:complexType name="FulfillmentDetails">
    <xs:sequence>
      <xs:element name="OptionCode" nillable="true" type="xs:string" />
      <xs:element name="OptionDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogisticStages" nillable="true" type="tns:ArrayOfSelectedLogisticStage" />
      <xs:element minOccurs="0" name="Fees" nillable="true" type="tns:ArrayOfFee" />
      <xs:element minOccurs="0" name="Charges" nillable="true" type="tns:ArrayOfCharge" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FulfillmentDetails" nillable="true" type="tns:FulfillmentDetails" />
  <xs:complexType name="ArrayOfSelectedLogisticStage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SelectedLogisticStage" nillable="true" type="tns:SelectedLogisticStage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSelectedLogisticStage" nillable="true" type="tns:ArrayOfSelectedLogisticStage" />
  <xs:complexType name="SelectedLogisticStage">
    <xs:sequence>
      <xs:element name="Code" nillable="true" type="xs:string" />
      <xs:element name="Description" nillable="true" type="xs:string" />
      <xs:element name="DirectionCode" nillable="true" type="xs:string" />
      <xs:element name="OptionCode" nillable="true" type="xs:string" />
      <xs:element name="OptionDescription" nillable="true" type="xs:string" />
      <xs:element name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Shipping" nillable="true" type="tns:ShippingInfo" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:FulfillmentAddress" />
      <xs:element minOccurs="0" name="HandlingStore" nillable="true" type="tns:HandlingStore" />
      <xs:element minOccurs="0" name="ServiceCenterCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceCenterDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectedLogisticStage" nillable="true" type="tns:SelectedLogisticStage" />
  <xs:complexType name="ShippingInfo">
    <xs:sequence>
      <xs:element name="CourierCode" nillable="true" type="xs:string" />
      <xs:element name="CourierDescription" nillable="true" type="xs:string" />
      <xs:element name="CourierProductCode" nillable="true" type="xs:string" />
      <xs:element name="CourierProductDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CourierVoucherNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpectedDeliveryDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ActualDeliveryDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TrackingNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpectedShippingDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShippingInfo" nillable="true" type="tns:ShippingInfo" />
  <xs:complexType name="FulfillmentAddress">
    <xs:sequence>
      <xs:element name="Address1" nillable="true" type="xs:string" />
      <xs:element name="Address2" nillable="true" type="xs:string" />
      <xs:element name="Address3" nillable="true" type="xs:string" />
      <xs:element name="City" nillable="true" type="xs:string" />
      <xs:element name="State" nillable="true" type="xs:string" />
      <xs:element name="Country" nillable="true" type="xs:string" />
      <xs:element name="PostalCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FulfillmentAddress" nillable="true" type="tns:FulfillmentAddress" />
  <xs:complexType name="HandlingStore">
    <xs:sequence>
      <xs:element name="StoreCode" nillable="true" type="xs:string" />
      <xs:element name="StoreName" nillable="true" type="xs:string" />
      <xs:element name="StoreTypeXcd" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HandlingStore" nillable="true" type="tns:HandlingStore" />
  <xs:complexType name="ArrayOfFee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Fee" nillable="true" type="tns:Fee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFee" nillable="true" type="tns:ArrayOfFee" />
  <xs:complexType name="Fee">
    <xs:sequence>
      <xs:element minOccurs="0" name="ServiceClassXcd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceTypeXcd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fee" nillable="true" type="tns:Fee" />
  <xs:complexType name="ArrayOfCharge">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Charge" nillable="true" type="tns:Charge" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCharge" nillable="true" type="tns:ArrayOfCharge" />
  <xs:complexType name="Charge">
    <xs:sequence>
      <xs:element minOccurs="0" name="ServiceClassXcd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceTypeXcd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Charge" nillable="true" type="tns:Charge" />
  <xs:complexType name="FulfillmentNotFoundFault">
    <xs:sequence>
      <xs:element name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element name="ClaimNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FulfillmentNotFoundFault" nillable="true" type="tns:FulfillmentNotFoundFault" />
  <xs:complexType name="BeginFulfillmentRequest">
    <xs:sequence>
      <xs:element name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element name="ClaimNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BeginFulfillmentRequest" nillable="true" type="tns:BeginFulfillmentRequest" />
  <xs:complexType name="BeginFulfillmentResponse">
    <xs:sequence>
      <xs:element name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element name="FulfillmentNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BeginFulfillmentResponse" nillable="true" type="tns:BeginFulfillmentResponse" />
  <xs:complexType name="ChangeServiceCenterRequest">
    <xs:sequence>
      <xs:element name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element name="ClaimNumber" nillable="true" type="xs:string" />
      <xs:element name="AuthorizationLocator" nillable="true" type="xs:string" />
      <xs:element name="NewServiceCenterCountryCode" nillable="true" type="xs:string" />
      <xs:element name="NewServiceCenterCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangeServiceCenterRequest" nillable="true" type="tns:ChangeServiceCenterRequest" />
  <xs:complexType name="ChangeServiceCenterResponse">
    <xs:sequence>
      <xs:element name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element name="ClaimNumber" nillable="true" type="xs:string" />
      <xs:element name="AuthorizationLocator" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangeServiceCenterResponse" nillable="true" type="tns:ChangeServiceCenterResponse" />
</xs:schema>