BusinessObjects/Service References/ClaimFulfillmentWebAppGatewayService/gateway2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://assurant.com/Elita/ClaimFulfillment/WebAppGateway/Fault" elementFormDefault="qualified" targetNamespace="http://assurant.com/Elita/ClaimFulfillment/WebAppGateway/Fault" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceCenterNotFoundFault">
    <xs:sequence>
      <xs:element name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element name="CountryCode" nillable="true" type="xs:string" />
      <xs:element name="ServiceCenterCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceCenterNotFoundFault" nillable="true" type="tns:ServiceCenterNotFoundFault" />
  <xs:complexType name="DeleveryEstimateNotFoundFault">
    <xs:sequence>
      <xs:element name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleveryEstimateNotFoundFault" nillable="true" type="tns:DeleveryEstimateNotFoundFault" />
</xs:schema>