BusinessObjects/Service References/ClaimFulfillmentWebAppGatewayService/gateway5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimFulfillment.Contracts.Shared.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimFulfillment.Contracts.Shared.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UpdatedLogisticStagesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClaimNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FulfillmentNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdatedLogisticStagesResponse" nillable="true" type="tns:UpdatedLogisticStagesResponse" />
</xs:schema>