BusinessObjects/Service References/TestBatchService/elita.assurant.com.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://elita.assurant.com" elementFormDefault="qualified" targetNamespace="http://elita.assurant.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="HealthCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="networkID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LDAPGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HealthCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HealthCheckResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>