ElitaPlus/Service References/FileManagerAdminService/admin54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimManagement.Extension.FileManager.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimManagement.Extension.FileManager.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ElitaClaimManagement/WebApp/admin?xsd=xsd3" namespace="http://assurant.com/Elita/FileManager/Data" />
  <xs:complexType name="DataItemLocator">
    <xs:sequence>
      <xs:element minOccurs="0" name="ForceRefresh" type="xs:boolean" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://assurant.com/Elita/FileManager/Data" minOccurs="0" name="Type" type="q1:DataItemType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataItemLocator" nillable="true" type="tns:DataItemLocator" />
  <xs:simpleType name="RecordStateType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Initialized" />
      <xs:enumeration value="Counted" />
      <xs:enumeration value="Validated" />
      <xs:enumeration value="ReadyToQueue" />
      <xs:enumeration value="Queued" />
      <xs:enumeration value="Rejected" />
      <xs:enumeration value="Processed" />
      <xs:enumeration value="ByPassed" />
      <xs:enumeration value="ParsingFailed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RecordStateType" nillable="true" type="tns:RecordStateType" />
  <xs:simpleType name="LifeCycleRecordStateType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="New" />
      <xs:enumeration value="Active" />
      <xs:enumeration value="Stale" />
      <xs:enumeration value="FrequentAccess" />
      <xs:enumeration value="Backup" />
      <xs:enumeration value="InfrequentAccess" />
      <xs:enumeration value="ColdAccess" />
      <xs:enumeration value="Purge" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LifeCycleRecordStateType" nillable="true" type="tns:LifeCycleRecordStateType" />
  <xs:simpleType name="FileType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ClaimUpFile" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FileType" nillable="true" type="tns:FileType" />
  <xs:simpleType name="FileStateType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Initialized" />
      <xs:enumeration value="Validated" />
      <xs:enumeration value="Rejected" />
      <xs:enumeration value="Processed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FileStateType" nillable="true" type="tns:FileStateType" />
</xs:schema>