ElitaPlus/Service References/FileManagerAdminService/admin1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://assurant.com/Elita/FileManager/Data" elementFormDefault="qualified" targetNamespace="http://assurant.com/Elita/FileManager/Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ElitaClaimManagement/FileManager/admin?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/ElitaClaimManagement/FileManager/admin?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimManagement.Extension.FileManager.Contracts" />
  <xs:import schemaLocation="http://localhost/ElitaClaimManagement/FileManager/admin?xsd=xsd4" namespace="http://assurant.com/Elita/FileManagement/ExchangeLayout" />
  <xs:complexType name="DataItemLocator">
    <xs:sequence>
      <xs:element name="Type" type="tns:DataItemType" />
      <xs:element name="Identifier" nillable="true" type="xs:string" />
      <xs:element name="ForceRefresh" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataItemLocator" nillable="true" type="tns:DataItemLocator" />
  <xs:simpleType name="DataItemType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FileInfo">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FileDetailRecord">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DataItemType" nillable="true" type="tns:DataItemType" />
  <xs:complexType name="SearchCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="PagingFilter" nillable="true" type="tns:PagingFilter" />
      <xs:element minOccurs="0" name="RecordFilter" nillable="true" type="tns:RecordFilter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchCriteria" nillable="true" type="tns:SearchCriteria" />
  <xs:complexType name="PagingFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagingFilter" nillable="true" type="tns:PagingFilter" />
  <xs:complexType name="RecordFilter">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimManagement.Extension.FileManager.Contracts" minOccurs="0" name="RecordState" type="q1:RecordStateType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecordFilter" nillable="true" type="tns:RecordFilter" />
  <xs:complexType name="ArrayOfFileInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileInfoDto" nillable="true" type="tns:FileInfoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileInfoDto" nillable="true" type="tns:ArrayOfFileInfoDto" />
  <xs:complexType name="FileInfoDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataItemBase">
        <xs:sequence>
          <xs:element name="FileIdentifier" nillable="true" type="xs:string" />
          <xs:element name="PartitionId" type="ser:guid" />
          <xs:element name="ReceivedRecords" type="xs:int" />
          <xs:element name="CountedRecords" type="xs:int" />
          <xs:element name="ValidatedRecords" type="xs:int" />
          <xs:element name="QueuedRecords" type="xs:int" />
          <xs:element name="ProcessedRecords" type="xs:int" />
          <xs:element name="BypassedRecords" type="xs:int" />
          <xs:element name="PhysicalFileName" nillable="true" type="xs:string" />
          <xs:element name="LogicalFileName" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimManagement.Extension.FileManager.Contracts" name="Type" type="q2:FileType" />
          <xs:element xmlns:q3="http://assurant.com/Elita/FileManagement/ExchangeLayout" name="FileHeader" nillable="true" type="q3:Header" />
          <xs:element xmlns:q4="http://assurant.com/Elita/FileManagement/ExchangeLayout" name="FileFooter" nillable="true" type="q4:Footer" />
          <xs:element name="RecordedDateTime" type="xs:dateTime" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimManagement.Extension.FileManager.Contracts" name="FileState" type="q5:FileStateType" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimManagement.Extension.FileManager.Contracts" name="LifeCycleRecordState" type="q6:LifeCycleRecordStateType" />
          <xs:element name="RejectedRecords" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FileInfoDto" nillable="true" type="tns:FileInfoDto" />
  <xs:complexType name="DataItemBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Locator" nillable="true" type="tns:DataItemLocator" />
      <xs:element minOccurs="0" name="ReadTimestamp" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataItemBase" nillable="true" type="tns:DataItemBase" />
  <xs:complexType name="FileDetailsRecordDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataItemBase">
        <xs:sequence>
          <xs:element name="FileDetailsRecordIdentifier" nillable="true" type="xs:string" />
          <xs:element name="FileIdentifier" nillable="true" type="xs:string" />
          <xs:element name="PartitionId" type="ser:guid" />
          <xs:element name="EntireRecord" nillable="true" type="xs:string" />
          <xs:element name="LineNumber" type="xs:int" />
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimManagement.Extension.FileManager.Contracts" name="RecordState" type="q7:RecordStateType" />
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimManagement.Extension.FileManager.Contracts" name="LifeCycleRecordStateType" type="q8:LifeCycleRecordStateType" />
          <xs:element xmlns:q9="http://assurant.com/Elita/FileManagement/ExchangeLayout" name="RecordContents" nillable="true" type="q9:DataLine" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FileDetailsRecordDto" nillable="true" type="tns:FileDetailsRecordDto" />
  <xs:complexType name="ArrayOfFileDetailsRecordDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileDetailsRecordDto" nillable="true" type="tns:FileDetailsRecordDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileDetailsRecordDto" nillable="true" type="tns:ArrayOfFileDetailsRecordDto" />
</xs:schema>