BusinessObjects/Service References/SmartStream/dev.assurantcorp.com1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="net.tcp://dev.assurantcorp.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="net.tcp://dev.assurantcorp.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="net.tcp://dev.assurantcorp.com/Imports">
      <xsd:import namespace="net.tcp://dev.assurantcorp.com" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.GLService.com" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="JournalManagerServiceContract_JournalUpload_InputMessage">
    <wsdl:part name="parameters" element="tns:JournalUpload" />
  </wsdl:message>
  <wsdl:message name="JournalManagerServiceContract_JournalUpload_OutputMessage">
    <wsdl:part name="parameters" element="tns:JournalUploadResponse" />
  </wsdl:message>
  <wsdl:message name="JournalManagerServiceContract_ControlDataUpload_InputMessage">
    <wsdl:part name="parameters" element="tns:ControlDataUpload" />
  </wsdl:message>
  <wsdl:message name="JournalManagerServiceContract_ControlDataUpload_OutputMessage">
    <wsdl:part name="parameters" element="tns:ControlDataUploadResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="false" name="JournalManagerServiceContract">
    <wsdl:operation name="JournalUpload">
      <wsdl:input wsaw:Action="net.tcp://dev.assurantcorp.com/JournalManagerServiceContract/JournalUpload" message="tns:JournalManagerServiceContract_JournalUpload_InputMessage" />
      <wsdl:output wsaw:Action="net.tcp://dev.assurantcorp.com/JournalManagerServiceContract/JournalUploadResponse" message="tns:JournalManagerServiceContract_JournalUpload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ControlDataUpload">
      <wsdl:input wsaw:Action="net.tcp://dev.assurantcorp.com/JournalManagerServiceContract/ControlDataUpload" message="tns:JournalManagerServiceContract_ControlDataUpload_InputMessage" />
      <wsdl:output wsaw:Action="net.tcp://dev.assurantcorp.com/JournalManagerServiceContract/ControlDataUploadResponse" message="tns:JournalManagerServiceContract_ControlDataUpload_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>