BusinessObjects/Service References/SmartStream/dev.assurantcorp.com1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="net.tcp://dev.assurantcorp.com" elementFormDefault="qualified" targetNamespace="net.tcp://dev.assurantcorp.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/Message" />
  <xs:import namespace="http://schemas.GLService.com" />
  <xs:element name="JournalUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="loadFile" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JournalUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.GLService.com" minOccurs="0" name="JournalUploadResult" nillable="true" type="q2:BatchSummaryTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ControlDataUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/Message" name="loadFile" type="q3:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ControlDataUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.GLService.com" minOccurs="0" name="ControlDataUploadResult" nillable="true" type="q4:ControlSummaryType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>