ElitaPlus/Service References/GiftCardService/GiftCardService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://elita.assurant.com/Elita/GiftCardService" elementFormDefault="qualified" targetNamespace="http://elita.assurant.com/Elita/GiftCardService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ElitaClaimService/GiftCardService.svc?xsd=xsd1" namespace="http://elita.assurant.com/Elita/GiftCardService/DataContracts" />
  <xs:element name="ProcureGiftCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://elita.assurant.com/Elita/GiftCardService/DataContracts" minOccurs="0" name="request" nillable="true" type="q1:GiftCardRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcureGiftCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://elita.assurant.com/Elita/GiftCardService/DataContracts" minOccurs="0" name="ProcureGiftCardResult" nillable="true" type="q2:GiftCardResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>