ElitaPlus/Service References/TestWcfRef/WcfTest1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://elita.assurant.com/test" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://elita.assurant.com/test" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://elita.assurant.com/test/Imports">
      <xsd:import schemaLocation="https://localhost/ElitaInternalWS/Test/WcfTest.svc?xsd=xsd0" namespace="http://elita.assurant.com/test" />
      <xsd:import schemaLocation="https://localhost/ElitaInternalWS/Test/WcfTest.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfTest_Hello_InputMessage">
    <wsdl:part name="parameters" element="tns:Hello" />
  </wsdl:message>
  <wsdl:message name="IWcfTest_Hello_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfTest_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IWcfTest_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfTest_LoginBody_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginBody" />
  </wsdl:message>
  <wsdl:message name="IWcfTest_LoginBody_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginBodyResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfTest_ProcessRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessRequest" />
  </wsdl:message>
  <wsdl:message name="IWcfTest_ProcessRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfTest">
    <wsdl:operation name="Hello">
      <wsdl:input wsaw:Action="http://elita.assurant.com/test/IWcfTest/Hello" message="tns:IWcfTest_Hello_InputMessage" />
      <wsdl:output wsaw:Action="http://elita.assurant.com/test/IWcfTest/HelloResponse" message="tns:IWcfTest_Hello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://elita.assurant.com/test/IWcfTest/Login" message="tns:IWcfTest_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://elita.assurant.com/test/IWcfTest/LoginResponse" message="tns:IWcfTest_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginBody">
      <wsdl:input wsaw:Action="http://elita.assurant.com/test/IWcfTest/LoginBody" message="tns:IWcfTest_LoginBody_InputMessage" />
      <wsdl:output wsaw:Action="http://elita.assurant.com/test/IWcfTest/LoginBodyResponse" message="tns:IWcfTest_LoginBody_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessRequest">
      <wsdl:input wsaw:Action="http://elita.assurant.com/test/IWcfTest/ProcessRequest" message="tns:IWcfTest_ProcessRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://elita.assurant.com/test/IWcfTest/ProcessRequestResponse" message="tns:IWcfTest_ProcessRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>