ElitaHarvesterService/Service References/MexicoIShopService/SwitchUpApple.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ActualizaDatos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:ActualizaDatosInpunt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ActualizaDatosInpunt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DealerCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CertificateNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SKU" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Brand" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Model" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SerialNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReplacementBrand" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReplacementModel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReplacementSerialNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReplacementIMEI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReplacementSKU" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdMotive" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActualizaDatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActualizaDatosResult" type="tns:ActualizaDatosOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ActualizaDatosOutput">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ActualizaDatosSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizaDatos" />
  </wsdl:message>
  <wsdl:message name="ActualizaDatosSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizaDatosResponse" />
  </wsdl:message>
  <wsdl:portType name="SwitchUpAppleSoap">
    <wsdl:operation name="ActualizaDatos">
      <wsdl:input message="tns:ActualizaDatosSoapIn" />
      <wsdl:output message="tns:ActualizaDatosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SwitchUpAppleSoap" type="tns:SwitchUpAppleSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActualizaDatos">
      <soap:operation soapAction="http://tempuri.org/ActualizaDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SwitchUpAppleSoap12" type="tns:SwitchUpAppleSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActualizaDatos">
      <soap12:operation soapAction="http://tempuri.org/ActualizaDatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SwitchUpApple">
    <wsdl:port name="SwitchUpAppleSoap" binding="tns:SwitchUpAppleSoap">
      <soap:address location="http://www.ishopmixup.com/wsSwitchUp/SwitchUpApple.asmx" />
    </wsdl:port>
    <wsdl:port name="SwitchUpAppleSoap12" binding="tns:SwitchUpAppleSoap12">
      <soap12:address location="http://www.ishopmixup.com/wsSwitchUp/SwitchUpApple.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>