BusinessObjects/Service References/PolicyService/PolicyService83.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://elita.assurant.com/Elita/PolicyService/RegisterItem" elementFormDefault="qualified" targetNamespace="http://elita.assurant.com/Elita/PolicyService/RegisterItem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RegisterItemRequest">
    <xs:sequence>
      <xs:element name="CertificateNumber" nillable="true" type="xs:string" />
      <xs:element name="DealerCode" nillable="true" type="xs:string" />
      <xs:element name="DeviceTypeCode" nillable="true" type="xs:string" />
      <xs:element name="IndixID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemDescription" nillable="true" type="xs:string" />
      <xs:element name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element name="Model" nillable="true" type="xs:string" />
      <xs:element name="PurchasePrice" nillable="true" type="xs:decimal" />
      <xs:element name="PurchasedDate" nillable="true" type="xs:dateTime" />
      <xs:element name="RegisteredItemName" nillable="true" type="xs:string" />
      <xs:element name="RegistrationDate" nillable="true" type="xs:dateTime" />
      <xs:element name="RetailPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterItemRequest" nillable="true" type="tns:RegisterItemRequest" />
  <xs:complexType name="RegisterItemRespose">
    <xs:sequence>
      <xs:element minOccurs="0" name="CertificateNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisteredItemName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterItemRespose" nillable="true" type="tns:RegisterItemRespose" />
  <xs:complexType name="UpdateRegItemRequest">
    <xs:sequence>
      <xs:element name="CertificateNumber" nillable="true" type="xs:string" />
      <xs:element name="DealerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndixID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemDescription" nillable="true" type="xs:string" />
      <xs:element name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element name="Model" nillable="true" type="xs:string" />
      <xs:element name="PurchasePrice" nillable="true" type="xs:decimal" />
      <xs:element name="PurchasedDate" nillable="true" type="xs:dateTime" />
      <xs:element name="RegisteredItemIdentifier" nillable="true" type="xs:string" />
      <xs:element name="RegisteredItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisteredItemNameToReplace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RetailPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateRegItemRequest" nillable="true" type="tns:UpdateRegItemRequest" />
  <xs:complexType name="UpdateRegItemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CertificateNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisteredItemName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateRegItemResponse" nillable="true" type="tns:UpdateRegItemResponse" />
</xs:schema>