BusinessObjects/Service References/VSCBrazilCreditCardAuth/ServicoCobrancaAssurant.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicoCobrancaAssurant" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://homolog.conectaservicos.com.br/assurant/auto/svc/cobranca/ServicoCobrancaAssurant.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://homolog.conectaservicos.com.br/assurant/auto/svc/cobranca/ServicoCobrancaAssurant.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://homolog.conectaservicos.com.br/assurant/auto/svc/cobranca/ServicoCobrancaAssurant.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicoCobrancaAssurant" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicoCobrancaAssurant_ContratarPorCartaoDeCreditoAVista_InputMessage">
    <wsdl:part name="parameters" element="tns:ContratarPorCartaoDeCreditoAVista" />
  </wsdl:message>
  <wsdl:message name="IServicoCobrancaAssurant_ContratarPorCartaoDeCreditoAVista_OutputMessage">
    <wsdl:part name="parameters" element="tns:ContratarPorCartaoDeCreditoAVistaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoCobrancaAssurant_ContratarPorCartaoDeCreditoParcelado_InputMessage">
    <wsdl:part name="parameters" element="tns:ContratarPorCartaoDeCreditoParcelado" />
  </wsdl:message>
  <wsdl:message name="IServicoCobrancaAssurant_ContratarPorCartaoDeCreditoParcelado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ContratarPorCartaoDeCreditoParceladoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoCobrancaAssurant_CancelarContrato_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelarContrato" />
  </wsdl:message>
  <wsdl:message name="IServicoCobrancaAssurant_CancelarContrato_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelarContratoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoCobrancaAssurant_AnularContrato_InputMessage">
    <wsdl:part name="parameters" element="tns:AnularContrato" />
  </wsdl:message>
  <wsdl:message name="IServicoCobrancaAssurant_AnularContrato_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnularContratoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicoCobrancaAssurant">
    <wsdl:operation name="ContratarPorCartaoDeCreditoAVista">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicoCobrancaAssurant/ContratarPorCartaoDeCreditoAVista" message="tns:IServicoCobrancaAssurant_ContratarPorCartaoDeCreditoAVista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicoCobrancaAssurant/ContratarPorCartaoDeCreditoAVistaResponse" message="tns:IServicoCobrancaAssurant_ContratarPorCartaoDeCreditoAVista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ContratarPorCartaoDeCreditoParcelado">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicoCobrancaAssurant/ContratarPorCartaoDeCreditoParcelado" message="tns:IServicoCobrancaAssurant_ContratarPorCartaoDeCreditoParcelado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicoCobrancaAssurant/ContratarPorCartaoDeCreditoParceladoResponse" message="tns:IServicoCobrancaAssurant_ContratarPorCartaoDeCreditoParcelado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelarContrato">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicoCobrancaAssurant/CancelarContrato" message="tns:IServicoCobrancaAssurant_CancelarContrato_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicoCobrancaAssurant/CancelarContratoResponse" message="tns:IServicoCobrancaAssurant_CancelarContrato_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnularContrato">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicoCobrancaAssurant/AnularContrato" message="tns:IServicoCobrancaAssurant_AnularContrato_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicoCobrancaAssurant/AnularContratoResponse" message="tns:IServicoCobrancaAssurant_AnularContrato_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicoCobrancaAssurant" type="tns:IServicoCobrancaAssurant">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ContratarPorCartaoDeCreditoAVista">
      <soap:operation soapAction="http://tempuri.org/IServicoCobrancaAssurant/ContratarPorCartaoDeCreditoAVista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContratarPorCartaoDeCreditoParcelado">
      <soap:operation soapAction="http://tempuri.org/IServicoCobrancaAssurant/ContratarPorCartaoDeCreditoParcelado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarContrato">
      <soap:operation soapAction="http://tempuri.org/IServicoCobrancaAssurant/CancelarContrato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnularContrato">
      <soap:operation soapAction="http://tempuri.org/IServicoCobrancaAssurant/AnularContrato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicoCobrancaAssurant">
    <wsdl:port name="BasicHttpBinding_IServicoCobrancaAssurant" binding="tns:BasicHttpBinding_IServicoCobrancaAssurant">
      <soap:address location="http://homolog.conectaservicos.com.br/assurant/auto/svc/cobranca/ServicoCobrancaAssurant.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>