BusinessObjects/Service References/VSCBrazilCreditCardAuth/ServicoCobrancaAssurant2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicoCobrancaAssurant" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicoCobrancaAssurant" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RetornoContratacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensagemRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroContratoCobranca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sucesso" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoContratacao" nillable="true" type="tns:RetornoContratacao" />
</xs:schema>