ElitaInternalWS/Schemas/Utilities/GetRegions.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetRegionsDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GetRegions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="country_code" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>