ElitaInternalWS/Schemas/Utilities/GetServiceCenter.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetServiceCenterDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GetServiceCenter">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Service_Center_Code" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
