ElitaPlus/Service References/CaseManagementWebAppGatewayService/WebAppGateway1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://elita.assurant.com/Elita/Claim/RecordingService/DataContracts" elementFormDefault="qualified" targetNamespace="http://elita.assurant.com/Elita/Claim/RecordingService/DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Question" nillable="true" type="tns:Question" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestion" nillable="true" type="tns:ArrayOfQuestion" />
  <xs:complexType name="Question">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnswerType" type="tns:AnswerType" />
      <xs:element minOccurs="0" name="Mandatory" type="xs:boolean" />
      <xs:element minOccurs="0" name="Scale" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Precision" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Length" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SequenceNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Answer" nillable="true" type="tns:BaseAnswer" />
      <xs:element minOccurs="0" name="PreConditions" nillable="true" type="tns:ArrayOfPreCondition" />
      <xs:element minOccurs="0" name="Applicable" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReEvaulateOnChange" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ChannelDisabled" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Question" nillable="true" type="tns:Question" />
  <xs:simpleType name="AnswerType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Choice" />
      <xs:enumeration value="Date" />
      <xs:enumeration value="Text" />
      <xs:enumeration value="ListOfValues" />
      <xs:enumeration value="Number" />
      <xs:enumeration value="Boolean" />
      <xs:enumeration value="Content" />
      <xs:enumeration value="LegalConsent" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AnswerType" nillable="true" type="tns:AnswerType" />
  <xs:complexType name="BaseAnswer">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseAnswer" nillable="true" type="tns:BaseAnswer" />
  <xs:complexType name="DateAnswer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseAnswer">
        <xs:sequence>
          <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DateAnswer" nillable="true" type="tns:DateAnswer" />
  <xs:complexType name="ChoiceAnswer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseAnswer">
        <xs:sequence>
          <xs:element minOccurs="0" name="Answers" nillable="true" type="tns:ArrayOfAnswerValue" />
          <xs:element minOccurs="0" name="Answer" nillable="true" type="tns:AnswerValue" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChoiceAnswer" nillable="true" type="tns:ChoiceAnswer" />
  <xs:complexType name="ArrayOfAnswerValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnswerValue" nillable="true" type="tns:AnswerValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnswerValue" nillable="true" type="tns:ArrayOfAnswerValue" />
  <xs:complexType name="AnswerValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SequenceNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnswerValue" nillable="true" type="tns:AnswerValue" />
  <xs:complexType name="ContentAnswer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseAnswer">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContentAnswer" nillable="true" type="tns:ContentAnswer" />
  <xs:complexType name="LegalConsentAnswer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseAnswer">
        <xs:sequence>
          <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LegalConsentAnswer" nillable="true" type="tns:LegalConsentAnswer" />
  <xs:complexType name="ListOfValuesAnswer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseAnswer">
        <xs:sequence>
          <xs:element minOccurs="0" name="Answers" nillable="true" type="tns:ArrayOfAnswerValue" />
          <xs:element minOccurs="0" name="Answer" nillable="true" type="tns:AnswerValue" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListOfValuesAnswer" nillable="true" type="tns:ListOfValuesAnswer" />
  <xs:complexType name="NumberAnswer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseAnswer">
        <xs:sequence>
          <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NumberAnswer" nillable="true" type="tns:NumberAnswer" />
  <xs:complexType name="TextAnswer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseAnswer">
        <xs:sequence>
          <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextAnswer" nillable="true" type="tns:TextAnswer" />
  <xs:complexType name="BooleanAnswer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseAnswer">
        <xs:sequence>
          <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BooleanAnswer" nillable="true" type="tns:BooleanAnswer" />
  <xs:simpleType name="PreConditionTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Equal" />
      <xs:enumeration value="NotEqual" />
      <xs:enumeration value="PreviousQuestionsComplete" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PreConditionTypes" nillable="true" type="tns:PreConditionTypes" />
  <xs:complexType name="PreCondition">
    <xs:sequence>
      <xs:element name="PreConditionType" type="tns:PreConditionTypes" />
      <xs:element minOccurs="0" name="QuestionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnswerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PreCondition" nillable="true" type="tns:PreCondition" />
  <xs:complexType name="ArrayOfPreCondition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PreCondition" nillable="true" type="tns:PreCondition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPreCondition" nillable="true" type="tns:ArrayOfPreCondition" />
</xs:schema>