BusinessObjects/Service References/Doc/DocumentService65.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.assurant.com/integration/faults/2012/6/12/" elementFormDefault="qualified" targetNamespace="http://services.assurant.com/integration/faults/2012/6/12/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NotFoundFault">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="NotFoundFault" nillable="true" type="tns:NotFoundFault" />
  <xs:complexType name="FaultBaseOfException5F2dSckg">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="FaultBaseOf{0}{#}" Namespace="http://services.assurant.com/integration/faults/2012/6/12/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Exception" Namespace="http://schemas.datacontract.org/2004/07/System" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InnerDetail" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultBaseOfException5F2dSckg" nillable="true" type="tns:FaultBaseOfException5F2dSckg" />
</xs:schema>