ElitaPlus/Service References/PolicyService/PolicyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://elita.assurant.com/Elita/PolicyService" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PolicyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IPolicyService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://elita.assurant.com/Elita/PolicyService" location="http://localhost/PolicyService/PolicyService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="CustomBinding_IPolicyService" type="i0:IPolicyService">
    <wsp:PolicyReference URI="#CustomBinding_IPolicyService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Enroll">
      <soap:operation soapAction="http://elita.assurant.com/Elita/PolicyService/IPolicyService/Enroll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EnrollFaultFault">
        <soap:fault use="literal" name="EnrollFaultFault" namespace="" />
        <soap:fault use="literal" name="EnrollFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CompanyNotFoundFaultFault">
        <soap:fault use="literal" name="CompanyNotFoundFaultFault" namespace="" />
        <soap:fault use="literal" name="CompanyNotFoundFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="MultiplePrimaryCustomersFoundFaultFault">
        <soap:fault use="literal" name="MultiplePrimaryCustomersFoundFaultFault" namespace="" />
        <soap:fault use="literal" name="MultiplePrimaryCustomersFoundFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DuplicateIdentificationNumberFoundFaultFault">
        <soap:fault use="literal" name="DuplicateIdentificationNumberFoundFaultFault" namespace="" />
        <soap:fault use="literal" name="DuplicateIdentificationNumberFoundFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BankAcOrCreditCardAllowedFaultFault">
        <soap:fault use="literal" name="BankAcOrCreditCardAllowedFaultFault" namespace="" />
        <soap:fault use="literal" name="BankAcOrCreditCardAllowedFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CardTypeFaultFault">
        <soap:fault use="literal" name="CardTypeFaultFault" namespace="" />
        <soap:fault use="literal" name="CardTypeFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Cancel">
      <soap:operation soapAction="http://elita.assurant.com/Elita/PolicyService/IPolicyService/Cancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EnrollFaultFault">
        <soap:fault use="literal" name="EnrollFaultFault" namespace="" />
        <soap:fault use="literal" name="EnrollFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CertificateNotFoundFaultFault">
        <soap:fault use="literal" name="CertificateNotFoundFaultFault" namespace="" />
        <soap:fault use="literal" name="CertificateNotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://elita.assurant.com/Elita/PolicyService/IPolicyService/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EnrollFaultFault">
        <soap:fault use="literal" name="EnrollFaultFault" namespace="" />
        <soap:fault use="literal" name="EnrollFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CertificateNotFoundFaultFault">
        <soap:fault use="literal" name="CertificateNotFoundFaultFault" namespace="" />
        <soap:fault use="literal" name="CertificateNotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDetails">
      <soap:operation soapAction="http://elita.assurant.com/Elita/PolicyService/IPolicyService/GetDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EnrollFaultFault">
        <soap:fault use="literal" name="EnrollFaultFault" namespace="" />
        <soap:fault use="literal" name="EnrollFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CertificateNotFoundFaultFault">
        <soap:fault use="literal" name="CertificateNotFoundFaultFault" namespace="" />
        <soap:fault use="literal" name="CertificateNotFoundFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidCultureCodeFaultFault">
        <soap:fault use="literal" name="InvalidCultureCodeFaultFault" namespace="" />
        <soap:fault use="literal" name="InvalidCultureCodeFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ComputeRefund">
      <soap:operation soapAction="http://elita.assurant.com/Elita/PolicyService/IPolicyService/ComputeRefund" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EnrollFaultFault">
        <soap:fault use="literal" name="EnrollFaultFault" namespace="" />
        <soap:fault use="literal" name="EnrollFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DealerNotFoundFaultFault">
        <soap:fault use="literal" name="DealerNotFoundFaultFault" namespace="" />
        <soap:fault use="literal" name="DealerNotFoundFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CertificateNotFoundFaultFault">
        <soap:fault use="literal" name="CertificateNotFoundFaultFault" namespace="" />
        <soap:fault use="literal" name="CertificateNotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Endorse">
      <soap:operation soapAction="http://elita.assurant.com/Elita/PolicyService/IPolicyService/Endorse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EndorseFaultFault">
        <soap:fault use="literal" name="EndorseFaultFault" namespace="" />
        <soap:fault use="literal" name="EndorseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RegisterItem">
      <soap:operation soapAction="http://elita.assurant.com/Elita/PolicyService/IPolicyService/RegisterItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EnrollFaultFault">
        <soap:fault use="literal" name="EnrollFaultFault" namespace="" />
        <soap:fault use="literal" name="EnrollFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RegItemFaultFault">
        <soap:fault use="literal" name="RegItemFaultFault" namespace="" />
        <soap:fault use="literal" name="RegItemFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateRegisteredItem">
      <soap:operation soapAction="http://elita.assurant.com/Elita/PolicyService/IPolicyService/UpdateRegisteredItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EnrollFaultFault">
        <soap:fault use="literal" name="EnrollFaultFault" namespace="" />
        <soap:fault use="literal" name="EnrollFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ExpireRegisteredItem">
      <soap:operation soapAction="http://elita.assurant.com/Elita/PolicyService/IPolicyService/ExpireRegisteredItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EnrollFaultFault">
        <soap:fault use="literal" name="EnrollFaultFault" namespace="" />
        <soap:fault use="literal" name="EnrollFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PullUpdate">
      <soap:operation soapAction="http://elita.assurant.com/Elita/PolicyService/IPolicyService/PullUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PullUpdateFaultFault">
        <soap:fault use="literal" name="PullUpdateFaultFault" namespace="" />
        <soap:fault use="literal" name="PullUpdateFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDetailsByIdentifier">
      <soap:operation soapAction="http://elita.assurant.com/Elita/PolicyService/IPolicyService/GetDetailsByIdentifier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EnrollFaultFault">
        <soap:fault use="literal" name="EnrollFaultFault" namespace="" />
        <soap:fault use="literal" name="EnrollFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DataNotFoundFaultFault">
        <soap:fault use="literal" name="DataNotFoundFaultFault" namespace="" />
        <soap:fault use="literal" name="DataNotFoundFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CompanyNotFoundFaultFault">
        <soap:fault use="literal" name="CompanyNotFoundFaultFault" namespace="" />
        <soap:fault use="literal" name="CompanyNotFoundFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DealerGroupNotFoundFaultFault">
        <soap:fault use="literal" name="DealerGroupNotFoundFaultFault" namespace="" />
        <soap:fault use="literal" name="DealerGroupNotFoundFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DealerNotFoundFaultFault">
        <soap:fault use="literal" name="DealerNotFoundFaultFault" namespace="" />
        <soap:fault use="literal" name="DealerNotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PolicyService">
    <wsdl:port name="CustomBinding_IPolicyService" binding="tns:CustomBinding_IPolicyService">
      <soap:address location="http://localhost/PolicyService/PolicyService.svc" />
    </wsdl:port>
    <wsdl:port name="CustomBinding_IPolicyService1" binding="tns:CustomBinding_IPolicyService">
      <soap:address location="http://localhost/PolicyService/PolicyService.svc/Secure" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>