ElitaPlus/Service References/PolicyService/PolicyService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://elita.assurant.com/Elita/PolicyService/ExpireRegisteredItem" elementFormDefault="qualified" targetNamespace="http://elita.assurant.com/Elita/PolicyService/ExpireRegisteredItem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExpireRegisteredItemRequest">
    <xs:sequence>
      <xs:element name="CertificateNumber" nillable="true" type="xs:string" />
      <xs:element name="DealerCode" nillable="true" type="xs:string" />
      <xs:element name="RegisteredItemIdentifier" nillable="true" type="xs:string" />
      <xs:element name="RegisteredItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpireRegisteredItemRequest" nillable="true" type="tns:ExpireRegisteredItemRequest" />
  <xs:complexType name="ExpireRegisteredItemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CertificateNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisteredItemName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpireRegisteredItemResponse" nillable="true" type="tns:ExpireRegisteredItemResponse" />
</xs:schema>