ElitaPlus/Service References/PolicyService/PolicyService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Assurant.Elita.PolicyService.Contracts.PolicyService.GetDetails" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Assurant.Elita.PolicyService.Contracts.PolicyService.GetDetails" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetDetailsByCustomerIdentifierRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DealerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DealerGroupCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentificationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentificationValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDetailsByCustomerIdentifierRequest" nillable="true" type="tns:GetDetailsByCustomerIdentifierRequest" />
</xs:schema>