ElitaPlus/Service References/UtilityService/UtilityWcf1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://elita.assurant.com/utilities" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://elita.assurant.com/utilities" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://elita.assurant.com/utilities/Imports">
      <xsd:import schemaLocation="http://elitaplus-modl.a2.assurant.com/ElitaInternalWSA2/Utilities/UtilityWcf.svc?xsd=xsd0" namespace="http://elita.assurant.com/utilities" />
      <xsd:import schemaLocation="http://elitaplus-modl.a2.assurant.com/ElitaInternalWSA2/Utilities/UtilityWcf.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUtilityWcf_Hello_InputMessage">
    <wsdl:part name="parameters" element="tns:Hello" />
  </wsdl:message>
  <wsdl:message name="IUtilityWcf_Hello_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloResponse" />
  </wsdl:message>
  <wsdl:message name="IUtilityWcf_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IUtilityWcf_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUtilityWcf_LoginBody_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginBody" />
  </wsdl:message>
  <wsdl:message name="IUtilityWcf_LoginBody_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginBodyResponse" />
  </wsdl:message>
  <wsdl:message name="IUtilityWcf_ProcessRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessRequest" />
  </wsdl:message>
  <wsdl:message name="IUtilityWcf_ProcessRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IUtilityWcf_GetVSCMakes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVSCMakes" />
  </wsdl:message>
  <wsdl:message name="IUtilityWcf_GetVSCMakes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVSCMakesResponse" />
  </wsdl:message>
  <wsdl:message name="IUtilityWcf_GetVSCModels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVSCModels" />
  </wsdl:message>
  <wsdl:message name="IUtilityWcf_GetVSCModels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVSCModelsResponse" />
  </wsdl:message>
  <wsdl:message name="IUtilityWcf_GetVSCVersions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVSCVersions" />
  </wsdl:message>
  <wsdl:message name="IUtilityWcf_GetVSCVersions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVSCVersionsResponse" />
  </wsdl:message>
  <wsdl:message name="IUtilityWcf_GetVSCYears_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVSCYears" />
  </wsdl:message>
  <wsdl:message name="IUtilityWcf_GetVSCYears_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVSCYearsResponse" />
  </wsdl:message>
  <wsdl:portType name="IUtilityWcf">
    <wsdl:operation name="Hello">
      <wsdl:input wsaw:Action="http://elita.assurant.com/utilities/IUtilityWcf/Hello" message="tns:IUtilityWcf_Hello_InputMessage" />
      <wsdl:output wsaw:Action="http://elita.assurant.com/utilities/IUtilityWcf/HelloResponse" message="tns:IUtilityWcf_Hello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://elita.assurant.com/utilities/IUtilityWcf/Login" message="tns:IUtilityWcf_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://elita.assurant.com/utilities/IUtilityWcf/LoginResponse" message="tns:IUtilityWcf_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginBody">
      <wsdl:input wsaw:Action="http://elita.assurant.com/utilities/IUtilityWcf/LoginBody" message="tns:IUtilityWcf_LoginBody_InputMessage" />
      <wsdl:output wsaw:Action="http://elita.assurant.com/utilities/IUtilityWcf/LoginBodyResponse" message="tns:IUtilityWcf_LoginBody_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessRequest">
      <wsdl:input wsaw:Action="http://elita.assurant.com/utilities/IUtilityWcf/ProcessRequest" message="tns:IUtilityWcf_ProcessRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://elita.assurant.com/utilities/IUtilityWcf/ProcessRequestResponse" message="tns:IUtilityWcf_ProcessRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVSCMakes">
      <wsdl:input wsaw:Action="http://elita.assurant.com/utilities/IUtilityWcf/GetVSCMakes" message="tns:IUtilityWcf_GetVSCMakes_InputMessage" />
      <wsdl:output wsaw:Action="http://elita.assurant.com/utilities/IUtilityWcf/GetVSCMakesResponse" message="tns:IUtilityWcf_GetVSCMakes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVSCModels">
      <wsdl:input wsaw:Action="http://elita.assurant.com/utilities/IUtilityWcf/GetVSCModels" message="tns:IUtilityWcf_GetVSCModels_InputMessage" />
      <wsdl:output wsaw:Action="http://elita.assurant.com/utilities/IUtilityWcf/GetVSCModelsResponse" message="tns:IUtilityWcf_GetVSCModels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVSCVersions">
      <wsdl:input wsaw:Action="http://elita.assurant.com/utilities/IUtilityWcf/GetVSCVersions" message="tns:IUtilityWcf_GetVSCVersions_InputMessage" />
      <wsdl:output wsaw:Action="http://elita.assurant.com/utilities/IUtilityWcf/GetVSCVersionsResponse" message="tns:IUtilityWcf_GetVSCVersions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVSCYears">
      <wsdl:input wsaw:Action="http://elita.assurant.com/utilities/IUtilityWcf/GetVSCYears" message="tns:IUtilityWcf_GetVSCYears_InputMessage" />
      <wsdl:output wsaw:Action="http://elita.assurant.com/utilities/IUtilityWcf/GetVSCYearsResponse" message="tns:IUtilityWcf_GetVSCYears_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>