BusinessObjects/Service References/SmartStream.Status/dev.assurantcorp.com.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="net.tcp://dev.assurantcorp.com" elementFormDefault="qualified" targetNamespace="net.tcp://dev.assurantcorp.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="NotifyBatchStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="batchID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="detail" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyBatchStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="NotifyBatchStatusResult" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>