ElitaInternalWS/Schemas/ClaimLogistics/GetExtendedClaimStatusList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetExtendedClaimStatusListDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GetExtendedClaimStatusList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="COMPANY_GROUP_CODE" type="xs:string" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

