ElitaInternalWS/Schemas/ClaimLogistics/GetNewOpenClaims.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetNewOpenClaimsDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GetNewOpenClaims">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ROUTE_NUMBER" type="xs:string" minOccurs="1" maxOccurs="1" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

