ElitaInternalWS/Schemas/ClaimLogistics/GetPicklistByDateRange.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetPicklistByDateRangeDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GetPicklistByDateRange">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="START_DATE" type="xs:dateTime" minOccurs="1" maxOccurs="1" />
              <xs:element name="END_DATE" type="xs:dateTime" minOccurs="1" maxOccurs="1" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>