ElitaInternalWS/Schemas/OpenMobile/OpenMobileVerifyClaim.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OpenMobileVerifyClaimDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="OpenMobileVerifyClaim">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Cell_Number" type="xs:string" minOccurs="1" maxOccurs="1" >
              </xs:element>
              <xs:element name="ESN" type="xs:string" minOccurs="1" maxOccurs="1" >
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
