ElitaPlus/Service References/FileAdminService/fileadmin.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FluentValidation.Results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FluentValidation.Results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sf-au-southeast-mod.assurant.com/ElitaClaimFulfillment/modl-p1/WebAppGateway/fileadmin?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://sf-au-southeast-mod.assurant.com/ElitaClaimFulfillment/modl-p1/WebAppGateway/fileadmin?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/FluentValidation" />
  <xs:complexType name="ValidationResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_RuleSetsExecuted_x003E_k__BackingField" nillable="true" type="q1:ArrayOfstring" />
      <xs:element name="errors" nillable="true" type="tns:ArrayOfValidationFailure" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationResult" nillable="true" type="tns:ValidationResult" />
  <xs:complexType name="ArrayOfValidationFailure">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValidationFailure" nillable="true" type="tns:ValidationFailure" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValidationFailure" nillable="true" type="tns:ArrayOfValidationFailure" />
  <xs:complexType name="ValidationFailure">
    <xs:sequence>
      <xs:element name="_x003C_AttemptedValue_x003E_k__BackingField" nillable="true" type="xs:anyType" />
      <xs:element name="_x003C_CustomState_x003E_k__BackingField" nillable="true" type="xs:anyType" />
      <xs:element name="_x003C_ErrorCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ErrorMessage_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_FormattedMessageArguments_x003E_k__BackingField" nillable="true" type="q2:ArrayOfanyType" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_FormattedMessagePlaceholderValues_x003E_k__BackingField" nillable="true" type="q3:ArrayOfKeyValueOfstringanyType" />
      <xs:element name="_x003C_PropertyName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ResourceName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FluentValidation" name="_x003C_Severity_x003E_k__BackingField" type="q4:Severity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationFailure" nillable="true" type="tns:ValidationFailure" />
</xs:schema>