ElitaPlus/Service References/FileAdminService/fileadmin3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimFulfillment.OrderGateway.FileIngress" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimFulfillment.OrderGateway.FileIngress" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sf-au-southeast-mod.assurant.com/ElitaClaimFulfillment/modl-p1/WebAppGateway/fileadmin?xsd=xsd2" namespace="http://assurant.com/Elita/OrderGateway/Data" />
  <xs:complexType name="DataItemLocator">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://assurant.com/Elita/OrderGateway/Data" minOccurs="0" name="Type" type="q1:DataItemType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataItemLocator" nillable="true" type="tns:DataItemLocator" />
</xs:schema>