ElitaPlus/Service References/FileAdminService/fileadmin6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://assurant.com/Elita/OrderGateway" elementFormDefault="qualified" targetNamespace="http://assurant.com/Elita/OrderGateway" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sf-au-southeast-mod.assurant.com/ElitaClaimFulfillment/modl-p1/WebAppGateway/fileadmin?xsd=xsd2" namespace="http://assurant.com/Elita/OrderGateway/Data" />
  <xs:element name="GetFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://assurant.com/Elita/OrderGateway/Data" minOccurs="0" name="request" nillable="true" type="q1:GetFilesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://assurant.com/Elita/OrderGateway/Data" minOccurs="0" name="GetFilesResult" nillable="true" type="q2:GetFilesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://assurant.com/Elita/OrderGateway/Data" minOccurs="0" name="request" nillable="true" type="q3:GetFileRecordsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://assurant.com/Elita/OrderGateway/Data" minOccurs="0" name="GetFileRecordsResult" nillable="true" type="q4:GetFileRecordsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://assurant.com/Elita/OrderGateway/Data" minOccurs="0" name="request" nillable="true" type="q5:SaveRecordRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://assurant.com/Elita/OrderGateway/Data" minOccurs="0" name="SaveRecordsResult" nillable="true" type="q6:SaveRecordResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://assurant.com/Elita/OrderGateway/Data" minOccurs="0" name="request" nillable="true" type="q7:ValidateFileRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://assurant.com/Elita/OrderGateway/Data" minOccurs="0" name="ValidateFilesResult" nillable="true" type="q8:ValidateFileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://assurant.com/Elita/OrderGateway/Data" minOccurs="0" name="request" nillable="true" type="q9:QueueFileRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://assurant.com/Elita/OrderGateway/Data" minOccurs="0" name="QueueFilesResult" nillable="true" type="q10:QueueFileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://assurant.com/Elita/OrderGateway/Data" minOccurs="0" name="request" nillable="true" type="q11:ProcessFileRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://assurant.com/Elita/OrderGateway/Data" minOccurs="0" name="ProcessFilesResult" nillable="true" type="q12:ProcessFileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>