ElitaPlus/Service References/FileAdminService/fileadmin4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://assurant.com/Elita/OrderGateway/Data" elementFormDefault="qualified" targetNamespace="http://assurant.com/Elita/OrderGateway/Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sf-au-southeast-mod.assurant.com/ElitaClaimFulfillment/modl-p1/WebAppGateway/fileadmin?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimFulfillment.OrderGateway.FileIngress.Types" />
  <xs:import schemaLocation="http://sf-au-southeast-mod.assurant.com/ElitaClaimFulfillment/modl-p1/WebAppGateway/fileadmin?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimFulfillment.OrderGateway.FileIngress" />
  <xs:import schemaLocation="http://sf-au-southeast-mod.assurant.com/ElitaClaimFulfillment/modl-p1/WebAppGateway/fileadmin?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://sf-au-southeast-mod.assurant.com/ElitaClaimFulfillment/modl-p1/WebAppGateway/fileadmin?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimFulfillment.OrderGateway.FileIngress.DataFiles" />
  <xs:complexType name="GetFilesRequest">
    <xs:sequence>
      <xs:element name="CountryCode" nillable="true" type="xs:string" />
      <xs:element name="ServiceCenterCode" nillable="true" type="xs:string" />
      <xs:element name="StartRowIndex" type="xs:int" />
      <xs:element name="MaximumRows" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFilesRequest" nillable="true" type="tns:GetFilesRequest" />
  <xs:complexType name="GetFilesResponse">
    <xs:sequence>
      <xs:element name="FileDetails" nillable="true" type="tns:ArrayOfFileInfoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFilesResponse" nillable="true" type="tns:GetFilesResponse" />
  <xs:complexType name="ArrayOfFileInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileInfoDto" nillable="true" type="tns:FileInfoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileInfoDto" nillable="true" type="tns:ArrayOfFileInfoDto" />
  <xs:complexType name="FileInfoDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataItemBase">
        <xs:sequence>
          <xs:element name="ServiceCenter" nillable="true" type="xs:string" />
          <xs:element name="CountryCode" nillable="true" type="xs:string" />
          <xs:element name="ImportedFileIdentifier" nillable="true" type="xs:string" />
          <xs:element name="ReceivedRecords" nillable="true" type="xs:int" />
          <xs:element name="CountedRecords" type="xs:int" />
          <xs:element name="ValidatedRecords" type="xs:int" />
          <xs:element name="QueuedRecords" type="xs:int" />
          <xs:element name="ProcessedRecords" type="xs:int" />
          <xs:element name="BypassedRecords" type="xs:int" />
          <xs:element name="PhysicalFileName" nillable="true" type="xs:string" />
          <xs:element name="LogicalFileName" nillable="true" type="xs:string" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimFulfillment.OrderGateway.FileIngress.Types" name="Type" type="q1:ImportedFileType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FileInfoDto" nillable="true" type="tns:FileInfoDto" />
  <xs:complexType name="DataItemBase">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimFulfillment.OrderGateway.FileIngress" minOccurs="0" name="Locator" nillable="true" type="q2:DataItemLocator" />
      <xs:element minOccurs="0" name="ReadTimestampUtc" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataItemBase" nillable="true" type="tns:DataItemBase" />
  <xs:simpleType name="DataItemType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="File">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DBSOrderFileRecord">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DataItemType" nillable="true" type="tns:DataItemType" />
  <xs:complexType name="DBSOrderFileRecordDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataItemBase">
        <xs:sequence>
          <xs:element name="FileIdentifier" nillable="true" type="xs:string" />
          <xs:element name="FileName" nillable="true" type="xs:string" />
          <xs:element name="RecordIdentifier" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimFulfillment.OrderGateway.FileIngress.Types" minOccurs="0" name="RecordType" type="q3:DbsRecordType" />
          <xs:element name="ExternalAuthorizationNumber" nillable="true" type="xs:string" />
          <xs:element name="EventType" nillable="true" type="xs:string" />
          <xs:element name="Comment" nillable="true" type="xs:string" />
          <xs:element name="SkuOfDamagedDevice" nillable="true" type="xs:string" />
          <xs:element name="ManufacturerOfDamagedDevice" nillable="true" type="xs:string" />
          <xs:element name="ModelOfDamagedDevice" nillable="true" type="xs:string" />
          <xs:element name="ColorOfDamagedDevice" nillable="true" type="xs:string" />
          <xs:element name="CapacityOfDamagedDevice" nillable="true" type="xs:string" />
          <xs:element name="CarrierCodeOfTheDamagedDevice" nillable="true" type="xs:string" />
          <xs:element name="SerialNumberOfDamagedDevice" nillable="true" type="xs:string" />
          <xs:element name="ImeiofDamagedDevice" nillable="true" type="xs:string" />
          <xs:element name="ServiceCenterId" nillable="true" type="xs:string" />
          <xs:element name="InvoiceNumber" nillable="true" type="xs:string" />
          <xs:element name="ManufacturerOfReplacementDevice" nillable="true" type="xs:string" />
          <xs:element name="ModelOfReplacementDevice" nillable="true" type="xs:string" />
          <xs:element name="SerialNumberOfReplacementDevice" nillable="true" type="xs:string" />
          <xs:element name="ImeiOfReplacementDevice" nillable="true" type="xs:string" />
          <xs:element name="SkuOfReplacementDevice" nillable="true" type="xs:string" />
          <xs:element name="ReplacementType" nillable="true" type="xs:string" />
          <xs:element name="ColorOfReplacement" nillable="true" type="xs:string" />
          <xs:element name="CapacityOfReplacement" nillable="true" type="xs:string" />
          <xs:element name="CarrierOfReplacement" nillable="true" type="xs:string" />
          <xs:element name="ServiceLevel" nillable="true" type="xs:string" />
          <xs:element name="ProblemFound" nillable="true" type="xs:string" />
          <xs:element name="ForwardTrackingNumber" nillable="true" type="xs:string" />
          <xs:element name="ForwardCourierCode" nillable="true" type="xs:string" />
          <xs:element name="ForwardCourierProductCode" nillable="true" type="xs:string" />
          <xs:element name="ExpectedDeliveryDateForward" type="xs:dateTime" />
          <xs:element name="VendorOrderNumberForward" nillable="true" type="xs:string" />
          <xs:element name="TrackingNumberReverse" nillable="true" type="xs:string" />
          <xs:element name="ExpectedDeliveryDateReverse" type="xs:dateTime" />
          <xs:element name="ReverseCourierCode" nillable="true" type="xs:string" />
          <xs:element name="ReverseCourierProduct" nillable="true" type="xs:string" />
          <xs:element name="VendorRmaNumberReverse" nillable="true" type="xs:string" />
          <xs:element name="AssurantAuthorizationId" nillable="true" type="xs:string" />
          <xs:element name="EParcelReference" nillable="true" type="xs:string" />
          <xs:element name="EstimatedRepairAmount" nillable="true" type="xs:string" />
          <xs:element name="RecordTypeTimeStamp" type="xs:dateTime" />
          <xs:element name="ExpectedDeliveryTimeForward" type="xs:dateTime" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimFulfillment.OrderGateway.FileIngress.Types" name="State" type="q4:RecordState" />
          <xs:element name="LineNumber" type="xs:int" />
          <xs:element name="EntireRecord" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DBSOrderFileRecordDto" nillable="true" type="tns:DBSOrderFileRecordDto" />
  <xs:complexType name="GetFileRecordsRequest">
    <xs:sequence>
      <xs:element name="CountryCode" nillable="true" type="xs:string" />
      <xs:element name="ServiceCenterCode" nillable="true" type="xs:string" />
      <xs:element name="FileName" nillable="true" type="xs:string" />
      <xs:element name="StartRowIndex" type="xs:int" />
      <xs:element name="MaximumRows" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFileRecordsRequest" nillable="true" type="tns:GetFileRecordsRequest" />
  <xs:complexType name="GetFileRecordsResponse">
    <xs:sequence>
      <xs:element name="FileRecordsDetails" nillable="true" type="tns:ArrayOfDataItemBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFileRecordsResponse" nillable="true" type="tns:GetFileRecordsResponse" />
  <xs:complexType name="ArrayOfDataItemBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataItemBase" nillable="true" type="tns:DataItemBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataItemBase" nillable="true" type="tns:ArrayOfDataItemBase" />
  <xs:complexType name="SaveRecordRequest">
    <xs:sequence>
      <xs:element name="Records" nillable="true" type="tns:ArrayOfDataItemBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaveRecordRequest" nillable="true" type="tns:SaveRecordRequest" />
  <xs:complexType name="SaveRecordResponse">
    <xs:sequence>
      <xs:element name="Records" nillable="true" type="tns:ArrayOfDataItemBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaveRecordResponse" nillable="true" type="tns:SaveRecordResponse" />
  <xs:complexType name="ValidateFileRequest">
    <xs:sequence>
      <xs:element name="CountryCode" nillable="true" type="xs:string" />
      <xs:element name="ServiceCenterCode" nillable="true" type="xs:string" />
      <xs:element name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateFileRequest" nillable="true" type="tns:ValidateFileRequest" />
  <xs:complexType name="ValidateFileResponse">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimFulfillment.OrderGateway.FileIngress.DataFiles" name="FileRecordsDetails" nillable="true" type="q5:ArrayOfOrderFileRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateFileResponse" nillable="true" type="tns:ValidateFileResponse" />
  <xs:complexType name="QueueFileRequest">
    <xs:sequence>
      <xs:element name="CountryCode" nillable="true" type="xs:string" />
      <xs:element name="ServiceCenterCode" nillable="true" type="xs:string" />
      <xs:element name="FileIdentifier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueueFileRequest" nillable="true" type="tns:QueueFileRequest" />
  <xs:complexType name="QueueFileResponse">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimFulfillment.OrderGateway.FileIngress.DataFiles" name="FileRecordsDetails" nillable="true" type="q6:ArrayOfOrderFileRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueueFileResponse" nillable="true" type="tns:QueueFileResponse" />
  <xs:complexType name="ProcessFileRequest">
    <xs:sequence>
      <xs:element name="CountryCode" nillable="true" type="xs:string" />
      <xs:element name="ServiceCenterCode" nillable="true" type="xs:string" />
      <xs:element name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessFileRequest" nillable="true" type="tns:ProcessFileRequest" />
  <xs:complexType name="ProcessFileResponse">
    <xs:sequence>
      <xs:element name="FileDetails" nillable="true" type="tns:ArrayOfFileInfoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessFileResponse" nillable="true" type="tns:ProcessFileResponse" />
</xs:schema>