External.AppleGSX/Service References/Client/gsx-base-types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:basic="http://gsxws.apple.com/types/basic" xmlns:tns="http://gsxws.apple.com/types/base" targetNamespace="http://gsxws.apple.com/types/base" version="1.0" xml:lang="en" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="gsx-basic-types.xsd" namespace="http://gsxws.apple.com/types/basic" />
  <xs:complexType name="baseUnitPartType">
    <xs:sequence>
      <xs:element minOccurs="0" name="partNumber" type="basic:Token_18" />
      <xs:element minOccurs="0" name="comptiaCode" type="basic:String_4" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="baseAddressType">
    <xs:sequence>
      <xs:element minOccurs="1" name="addressLine1" type="xs:string" />
      <xs:element minOccurs="0" name="addressLine2" type="xs:string" />
      <xs:element minOccurs="0" name="addressLine3" type="xs:string" />
      <xs:element minOccurs="0" name="addressLine4" type="xs:string" />
      <xs:element minOccurs="1" name="country" type="xs:string" />
      <xs:element minOccurs="1" name="zipCode" type="xs:string" />
      <xs:element minOccurs="1" name="regionCode" type="xs:NMTOKEN" />
      <xs:element minOccurs="1" name="county" type="xs:string" />
      <xs:element minOccurs="1" name="city" type="xs:string" />
      <xs:element minOccurs="1" name="state" type="xs:string" />
      <xs:element minOccurs="1" name="street" type="xs:string" />
      <xs:element minOccurs="1" name="firstName" type="xs:token" />
      <xs:element minOccurs="1" name="lastName" type="xs:token" />
      <xs:element minOccurs="0" name="middleInitial" type="xs:string" />
      <xs:element minOccurs="1" name="companyName" type="xs:string" />
      <xs:element minOccurs="1" name="primaryPhone" type="xs:string" />
      <xs:element minOccurs="0" name="secondaryPhone" type="xs:string" />
      <xs:element minOccurs="0" name="sendSMSOnPrimaryPhone" type="xs:string" />
      <xs:element minOccurs="0" name="primarySMSProvider" type="xs:string" />
      <xs:element minOccurs="0" name="sendSMSOnSecondaryPhone" type="xs:string" />
      <xs:element minOccurs="0" name="secondarySMSProvider" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="baseRepairOrderLinesType">
    <xs:sequence>
      <xs:element minOccurs="1" name="partNumber" type="xs:token" />
      <xs:element minOccurs="1" name="comptiaCode" type="xs:string" />
      <xs:element minOccurs="1" name="comptiaModifier" type="xs:string" />
      <xs:element minOccurs="1" name="abused" type="xs:token" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="baseOrderPartsType">
    <xs:sequence>
      <xs:element minOccurs="1" name="partNumber" type="xs:token" />
      <xs:element minOccurs="0" name="partType" type="xs:string" />
      <xs:element minOccurs="0" name="netPrice" type="xs:string" />
      <xs:element minOccurs="0" name="currency" type="xs:string" />
      <xs:element minOccurs="0" name="availability" type="xs:string" />
      <xs:element minOccurs="0" name="quantity" type="xs:token" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="baseVendorAddressType">
    <xs:sequence>
      <xs:element minOccurs="1" name="companyName" type="basic:String_30" />
      <xs:element minOccurs="1" name="vendorName" type="basic:String_241" />
      <xs:element minOccurs="1" name="street" type="basic:String_360" />
      <xs:element minOccurs="0" name="county" type="xs:string" />
      <xs:element minOccurs="1" name="city" type="basic:String_241" />
      <xs:element minOccurs="1" name="state" type="basic:String_3" />
      <xs:element minOccurs="1" name="countryName" type="basic:String_100" />
      <xs:element minOccurs="1" name="zipCode" type="basic:String_10" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="baseRepairDetailsType">
    <xs:sequence>
      <xs:element minOccurs="0" name="repairConfirmationNumber" type="basic:Token_15" />
      <xs:element minOccurs="0" name="soldToCode" type="basic:Token_10" />
      <xs:element minOccurs="0" name="warrantyDescription" type="xs:string" />
      <xs:element minOccurs="0" name="dispatchId" type="basic:Token_15" />
      <xs:element minOccurs="0" name="sroNumber" type="basic:Token_12" />
      <xs:element minOccurs="0" name="serialNumber" type="basic:Token_18" />
      <xs:element minOccurs="0" name="newSerialNumber" type="basic:Token_18" />
      <xs:element minOccurs="0" name="dispatchSentDate" type="basic:Token_18" />
      <xs:element minOccurs="0" name="assignedToShipTo" type="basic:Token_10" />
      <xs:element minOccurs="0" name="coverageStatusDescription" type="basic:String_35" />
      <xs:element minOccurs="0" name="productName" type="basic:String_40" />
      <xs:element minOccurs="0" name="configuration" type="basic:String_100" />
      <xs:element minOccurs="0" name="slaGroupDescription" type="basic:String_15" />
      <xs:element minOccurs="0" name="purchaseOrderNumber" type="basic:String_35" />
      <xs:element minOccurs="0" name="referenceNumber" type="basic:String_15" />
      <xs:element minOccurs="0" name="notes" type="basic:String_4000" />
      <xs:element minOccurs="0" name="zone" type="basic:String_4" />
      <xs:element minOccurs="0" name="customerType" type="basic:String_25" />
      <xs:element minOccurs="0" name="csCode" type="basic:Token_20" />
      <xs:element minOccurs="0" name="isNonReplenished" type="basic:String_1" />
      <xs:element minOccurs="0" name="isACPlusConsumed" type="xs:string" />
      <xs:element minOccurs="0" name="acPlusFlag" type="xs:string" />
      <xs:element minOccurs="0" name="consumerLawApplied" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="baseMailInComptiaType">
    <xs:sequence>
      <xs:element minOccurs="1" name="comptiaCode" type="basic:String_3" />
      <xs:element minOccurs="1" name="comptiaModifier" type="basic:String_1" />
      <xs:element minOccurs="1" name="comptiaGroup" type="basic:String_1" />
      <xs:element minOccurs="0" name="technicianNote" type="basic:String_4000" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="baseMailInRepairType">
    <xs:sequence>
      <xs:element minOccurs="1" name="accidentalDamage" type="basic:String_1" />
      <xs:element minOccurs="1" name="addressCosmeticDamage" type="basic:String_1" />
      <xs:element minOccurs="0" name="coveredByACPlus" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="comptia" type="tns:baseMailInComptiaType" />
      <xs:element minOccurs="0" name="referenceNumber" type="basic:String_15" />
      <xs:element minOccurs="0" default="N" name="dataTransferRequired" type="basic:yesNoType" />
      <xs:element minOccurs="1" name="requestReviewByApple" type="basic:String_1" />
      <xs:element minOccurs="0" name="diagnosedByTechId" type="basic:String_15" />
      <xs:element minOccurs="1" name="diagnosis" type="basic:String_1500" />
      <xs:element minOccurs="0" name="hardDrive" type="basic:String_25" />
      <xs:element minOccurs="0" name="ram" type="basic:String_25" />
      <xs:element minOccurs="0" name="hardwareDiagnosisCode" type="basic:String_30" />
      <xs:element minOccurs="0" name="machinePassword" type="basic:String_30" />
      <xs:element minOccurs="0" name="notes" type="basic:String_800" />
      <xs:element minOccurs="0" name="osVersion" type="basic:String_10" />
      <xs:element minOccurs="1" name="purchaseOrderNumber" type="basic:String_40" />
      <xs:element minOccurs="1" name="serialNumber" type="basic:Token_18" />
      <xs:element minOccurs="0" name="shipBox" type="basic:String_1" />
      <xs:element minOccurs="1" name="shipTo" type="basic:Token_10" />
      <xs:element minOccurs="1" name="shipper" type="basic:String_30" />
      <xs:element minOccurs="0" name="soldToContact" type="basic:String_40" />
      <xs:element minOccurs="0" name="soldToContactPhone" type="basic:String_30" />
      <xs:element minOccurs="1" name="symptom" type="basic:String_1500" />
      <xs:element minOccurs="1" name="trackingNumber" type="basic:String_15" />
      <xs:element minOccurs="1" name="unitReceivedDate" type="basic:String_40" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fileAttachmentType">
    <xs:sequence>
      <xs:element minOccurs="1" name="fileName" type="xs:string" />
      <xs:element minOccurs="1" name="fileData" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="baseEscCreateResponseType">
    <xs:sequence>
      <xs:element minOccurs="1" name="escalationId" type="xs:string" />
      <xs:element minOccurs="1" name="createTimestamp" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customerCallDetailsType">
    <xs:sequence>
      <xs:element minOccurs="1" name="callResult" type="xs:string" />
      <xs:element minOccurs="1" name="callTimestamp" type="xs:string" />
      <xs:element minOccurs="1" name="callUserID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customerCallType">
    <xs:sequence>
      <xs:element minOccurs="1" name="callResult" type="xs:string" />
      <xs:element minOccurs="1" name="callTimestamp" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="baseEscUpdateStatusType">
    <xs:sequence>
      <xs:element minOccurs="1" name="updateStatus" type="xs:string" />
      <xs:element minOccurs="1" name="updateTimestamp" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="escalationContextType">
    <xs:sequence>
      <xs:element minOccurs="1" name="contextType" type="xs:string" />
      <xs:element minOccurs="1" name="contextID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="escalationNoteType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="note" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="emailContentType">
    <xs:sequence>
      <xs:element minOccurs="1" name="toAddress" type="basic:String_241" />
      <xs:element minOccurs="1" name="subject" type="basic:String_100" />
      <xs:element minOccurs="1" name="body" type="xs:string" />
      <xs:element minOccurs="0" name="attachment" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="damageDetailType">
    <xs:sequence>
      <xs:element minOccurs="1" name="damageType" type="basic:String_30" />
      <xs:element minOccurs="1" name="issueType" type="basic:String_30" />
      <xs:element minOccurs="1" name="damagedPartDescription" type="basic:String_100" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="symptomType">
    <xs:sequence>
      <xs:element minOccurs="1" name="symptomID" type="xs:string" />
      <xs:element minOccurs="1" name="symptomLabel" type="xs:string" />
      <xs:element minOccurs="1" name="symptomImageUrl" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="issueType">
    <xs:sequence>
      <xs:element minOccurs="1" name="issueID" type="xs:string" />
      <xs:element minOccurs="1" name="issueLabel" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="articleIDType">
    <xs:sequence>
      <xs:element minOccurs="1" name="articleID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="articleIDArrayType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="articleID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fetchArticleContentRequestDataType">
    <xs:sequence>
      <xs:element minOccurs="1" name="articleID" type="xs:string" />
      <xs:element minOccurs="1" name="languageCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="articleSummaryType">
    <xs:sequence>
      <xs:element minOccurs="1" name="articleID" type="xs:string" />
      <xs:element minOccurs="1" name="articleTitle" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productModelType">
    <xs:sequence>
      <xs:element minOccurs="0" name="productLine" type="xs:string" />
      <xs:element minOccurs="0" name="configCode" type="xs:string" />
      <xs:element minOccurs="0" name="configDescription" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="requotePartType">
    <xs:sequence>
      <xs:element minOccurs="1" name="partNumber" type="xs:string" />
      <xs:element minOccurs="0" name="partDescription" type="xs:string" />
      <xs:element minOccurs="0" name="isShippingPart" type="xs:string" />
      <xs:element minOccurs="0" name="partType" type="xs:string" />
      <xs:element minOccurs="0" name="currency" type="xs:string" />
      <xs:element minOccurs="0" name="tax" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>