External.AppleGSX/Service References/Client/gsx-basic-types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://gsxws.apple.com/types/basic" targetNamespace="http://gsxws.apple.com/types/basic" version="1.0" xml:lang="en" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="yesNoType">
    <xs:restriction base="xs:token">
      <xs:maxLength value="1" />
      <xs:pattern value="[YN]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="coverageType">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="N" />
      <xs:enumeration value="A1" />
      <xs:enumeration value="A2" />
      <xs:enumeration value="A3" />
      <xs:enumeration value="X" />
      <xs:enumeration value="RPL" />
      <xs:enumeration value="CL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="regionCodeType">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="002" />
      <xs:enumeration value="003" />
      <xs:enumeration value="004" />
      <xs:enumeration value="005" />
      <xs:enumeration value="006" />
      <xs:enumeration value="007" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="reasonCodeType">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="A" />
      <xs:enumeration value="B" />
      <xs:enumeration value="C" />
      <xs:enumeration value="D" />
      <xs:enumeration value="E" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Token_2">
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Token_3">
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Token_5">
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Token_10">
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Token_12">
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="12" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Token_14">
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="14" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Token_15">
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="15" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Token_18">
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="18" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Token_20">
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Token_25">
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Token_35">
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Token_50">
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Token_96">
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="96" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_1">
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_2">
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_3">
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_4">
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_5">
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_7">
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="7" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_10">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_12">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="12" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_15">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="15" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_18">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="18" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_20">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_22">
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="22" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_25">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_30">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_35">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_40">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="40" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_50">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_60">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_70">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_80">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="80" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_100">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_241">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="241" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_250">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="250" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_256">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_360">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="360" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_800">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="800" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_1000">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_1300">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1300" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_1500">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1500" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String_4000">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4000" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>