BusinessObjects/Service References/DocAdmin/DocumentAdminService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://services.assurant.com/ssi/document/2012/6/20/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DocumentAdminService" targetNamespace="http://services.assurant.com/ssi/document/2012/6/20/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IDocumentAdmin_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://services.assurant.com/ssi/document/2012/6/20/Imports">
      <xsd:import schemaLocation="http://msp0wapfd001.cead.prd/Document/Entity/20120620/DocumentAdminService.svc?xsd=xsd0" namespace="http://services.assurant.com/ssi/document/2012/6/20/" />
      <xsd:import schemaLocation="http://msp0wapfd001.cead.prd/Document/Entity/20120620/DocumentAdminService.svc?xsd=xsd3" namespace="http://www.microsoft.com/practices/EnterpriseLibrary/2007/01/wcf/validation" />
      <xsd:import schemaLocation="http://msp0wapfd001.cead.prd/Document/Entity/20120620/DocumentAdminService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://msp0wapfd001.cead.prd/Document/Entity/20120620/DocumentAdminService.svc?xsd=xsd2" namespace="http://services.assurant.com/integration/faults/2012/6/12/" />
      <xsd:import schemaLocation="http://msp0wapfd001.cead.prd/Document/Entity/20120620/DocumentAdminService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDocumentAdmin_CreateDocumentFormat_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDocumentFormat" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_CreateDocumentFormat_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDocumentFormatResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_CreateDocumentFormat_DocumentFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:DocumentFault" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_CreateDocumentFormat_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://www.microsoft.com/practices/EnterpriseLibrary/2007/01/wcf/validation" name="detail" element="q1:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_GetDocumentFormat_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentFormat" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_GetDocumentFormat_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentFormatResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_GetDocumentFormat_NotFoundFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://services.assurant.com/integration/faults/2012/6/12/" name="detail" element="q2:NotFoundFault" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_GetDocumentFormat_DocumentFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:DocumentFault" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_GetDocumentFormat_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://www.microsoft.com/practices/EnterpriseLibrary/2007/01/wcf/validation" name="detail" element="q3:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_GetDocumentFormats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentFormats" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_GetDocumentFormats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentFormatsResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_GetDocumentFormats_DocumentFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:DocumentFault" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_GetDocumentFormats_NotFoundFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://services.assurant.com/integration/faults/2012/6/12/" name="detail" element="q4:NotFoundFault" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_UpdateDocumentFormat_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDocumentFormat" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_UpdateDocumentFormat_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDocumentFormatResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_UpdateDocumentFormat_DocumentFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:DocumentFault" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_UpdateDocumentFormat_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://www.microsoft.com/practices/EnterpriseLibrary/2007/01/wcf/validation" name="detail" element="q5:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_UpdateDocumentFormat_NotFoundFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://services.assurant.com/integration/faults/2012/6/12/" name="detail" element="q6:NotFoundFault" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_CreateRepository_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRepository" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_CreateRepository_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRepositoryResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_CreateRepository_RepositoryFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:RepositoryFault" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_CreateRepository_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://www.microsoft.com/practices/EnterpriseLibrary/2007/01/wcf/validation" name="detail" element="q7:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_CreateRepository_NotFoundFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://services.assurant.com/integration/faults/2012/6/12/" name="detail" element="q8:NotFoundFault" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_GetRepositoryById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRepositoryById" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_GetRepositoryById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRepositoryByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_GetRepositoryById_NotFoundFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://services.assurant.com/integration/faults/2012/6/12/" name="detail" element="q9:NotFoundFault" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_GetRepositoryById_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://www.microsoft.com/practices/EnterpriseLibrary/2007/01/wcf/validation" name="detail" element="q10:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_GetRepositoryById_RepositoryFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:RepositoryFault" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_GetRepositoryByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRepositoryByName" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_GetRepositoryByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRepositoryByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_GetRepositoryByName_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q11="http://www.microsoft.com/practices/EnterpriseLibrary/2007/01/wcf/validation" name="detail" element="q11:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_GetRepositoryByName_RepositoryFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:RepositoryFault" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_GetRepositoryByName_NotFoundFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://services.assurant.com/integration/faults/2012/6/12/" name="detail" element="q12:NotFoundFault" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_GetRepositories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRepositories" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_GetRepositories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRepositoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_GetRepositories_RepositoryFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:RepositoryFault" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_GetRepositories_NotFoundFaultFault_FaultMessage">
    <wsdl:part xmlns:q13="http://services.assurant.com/integration/faults/2012/6/12/" name="detail" element="q13:NotFoundFault" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_UpdateRepository_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRepository" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_UpdateRepository_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRepositoryResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_UpdateRepository_NotFoundFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://services.assurant.com/integration/faults/2012/6/12/" name="detail" element="q14:NotFoundFault" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_UpdateRepository_RepositoryFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:RepositoryFault" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdmin_UpdateRepository_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q15="http://www.microsoft.com/practices/EnterpriseLibrary/2007/01/wcf/validation" name="detail" element="q15:ValidationFault" />
  </wsdl:message>
  <wsdl:portType name="IDocumentAdmin">
    <wsdl:operation name="CreateDocumentFormat">
      <wsdl:input wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/CreateDocumentFormat" message="tns:IDocumentAdmin_CreateDocumentFormat_InputMessage" />
      <wsdl:output wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/CreateDocumentFormatResponse" message="tns:IDocumentAdmin_CreateDocumentFormat_OutputMessage" />
      <wsdl:fault wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/CreateDocumentFormatDocumentFaultFault" name="DocumentFaultFault" message="tns:IDocumentAdmin_CreateDocumentFormat_DocumentFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/CreateDocumentFormatValidationFaultFault" name="ValidationFaultFault" message="tns:IDocumentAdmin_CreateDocumentFormat_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentFormat">
      <wsdl:input wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/GetDocumentFormat" message="tns:IDocumentAdmin_GetDocumentFormat_InputMessage" />
      <wsdl:output wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/GetDocumentFormatResponse" message="tns:IDocumentAdmin_GetDocumentFormat_OutputMessage" />
      <wsdl:fault wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/GetDocumentFormatNotFoundFaultFault" name="NotFoundFaultFault" message="tns:IDocumentAdmin_GetDocumentFormat_NotFoundFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/GetDocumentFormatDocumentFaultFault" name="DocumentFaultFault" message="tns:IDocumentAdmin_GetDocumentFormat_DocumentFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/GetDocumentFormatValidationFaultFault" name="ValidationFaultFault" message="tns:IDocumentAdmin_GetDocumentFormat_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentFormats">
      <wsdl:input wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/GetDocumentFormats" message="tns:IDocumentAdmin_GetDocumentFormats_InputMessage" />
      <wsdl:output wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/GetDocumentFormatsResponse" message="tns:IDocumentAdmin_GetDocumentFormats_OutputMessage" />
      <wsdl:fault wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/GetDocumentFormatsDocumentFaultFault" name="DocumentFaultFault" message="tns:IDocumentAdmin_GetDocumentFormats_DocumentFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/GetDocumentFormatsNotFoundFaultFault" name="NotFoundFaultFault" message="tns:IDocumentAdmin_GetDocumentFormats_NotFoundFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentFormat">
      <wsdl:input wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/UpdateDocumentFormat" message="tns:IDocumentAdmin_UpdateDocumentFormat_InputMessage" />
      <wsdl:output wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/UpdateDocumentFormatResponse" message="tns:IDocumentAdmin_UpdateDocumentFormat_OutputMessage" />
      <wsdl:fault wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/UpdateDocumentFormatDocumentFaultFault" name="DocumentFaultFault" message="tns:IDocumentAdmin_UpdateDocumentFormat_DocumentFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/UpdateDocumentFormatValidationFaultFault" name="ValidationFaultFault" message="tns:IDocumentAdmin_UpdateDocumentFormat_ValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/UpdateDocumentFormatNotFoundFaultFault" name="NotFoundFaultFault" message="tns:IDocumentAdmin_UpdateDocumentFormat_NotFoundFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateRepository">
      <wsdl:input wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/CreateRepository" message="tns:IDocumentAdmin_CreateRepository_InputMessage" />
      <wsdl:output wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/CreateRepositoryResponse" message="tns:IDocumentAdmin_CreateRepository_OutputMessage" />
      <wsdl:fault wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/CreateRepositoryRepositoryFaultFault" name="RepositoryFaultFault" message="tns:IDocumentAdmin_CreateRepository_RepositoryFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/CreateRepositoryValidationFaultFault" name="ValidationFaultFault" message="tns:IDocumentAdmin_CreateRepository_ValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/CreateRepositoryNotFoundFaultFault" name="NotFoundFaultFault" message="tns:IDocumentAdmin_CreateRepository_NotFoundFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRepositoryById">
      <wsdl:input wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/GetRepositoryById" message="tns:IDocumentAdmin_GetRepositoryById_InputMessage" />
      <wsdl:output wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/GetRepositoryByIdResponse" message="tns:IDocumentAdmin_GetRepositoryById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/GetRepositoryByIdNotFoundFaultFault" name="NotFoundFaultFault" message="tns:IDocumentAdmin_GetRepositoryById_NotFoundFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/GetRepositoryByIdValidationFaultFault" name="ValidationFaultFault" message="tns:IDocumentAdmin_GetRepositoryById_ValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/GetRepositoryByIdRepositoryFaultFault" name="RepositoryFaultFault" message="tns:IDocumentAdmin_GetRepositoryById_RepositoryFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRepositoryByName">
      <wsdl:input wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/GetRepositoryByName" message="tns:IDocumentAdmin_GetRepositoryByName_InputMessage" />
      <wsdl:output wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/GetRepositoryByNameResponse" message="tns:IDocumentAdmin_GetRepositoryByName_OutputMessage" />
      <wsdl:fault wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/GetRepositoryByNameValidationFaultFault" name="ValidationFaultFault" message="tns:IDocumentAdmin_GetRepositoryByName_ValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/GetRepositoryByNameRepositoryFaultFault" name="RepositoryFaultFault" message="tns:IDocumentAdmin_GetRepositoryByName_RepositoryFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/GetRepositoryByNameNotFoundFaultFault" name="NotFoundFaultFault" message="tns:IDocumentAdmin_GetRepositoryByName_NotFoundFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRepositories">
      <wsdl:input wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/GetRepositories" message="tns:IDocumentAdmin_GetRepositories_InputMessage" />
      <wsdl:output wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/GetRepositoriesResponse" message="tns:IDocumentAdmin_GetRepositories_OutputMessage" />
      <wsdl:fault wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/GetRepositoriesRepositoryFaultFault" name="RepositoryFaultFault" message="tns:IDocumentAdmin_GetRepositories_RepositoryFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/GetRepositoriesNotFoundFaultFault" name="NotFoundFaultFault" message="tns:IDocumentAdmin_GetRepositories_NotFoundFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRepository">
      <wsdl:input wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/UpdateRepository" message="tns:IDocumentAdmin_UpdateRepository_InputMessage" />
      <wsdl:output wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/UpdateRepositoryResponse" message="tns:IDocumentAdmin_UpdateRepository_OutputMessage" />
      <wsdl:fault wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/UpdateRepositoryNotFoundFaultFault" name="NotFoundFaultFault" message="tns:IDocumentAdmin_UpdateRepository_NotFoundFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/UpdateRepositoryRepositoryFaultFault" name="RepositoryFaultFault" message="tns:IDocumentAdmin_UpdateRepository_RepositoryFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/UpdateRepositoryValidationFaultFault" name="ValidationFaultFault" message="tns:IDocumentAdmin_UpdateRepository_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IDocumentAdmin" type="tns:IDocumentAdmin">
    <wsp:PolicyReference URI="#CustomBinding_IDocumentAdmin_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateDocumentFormat">
      <soap12:operation soapAction="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/CreateDocumentFormat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DocumentFaultFault">
        <soap12:fault use="literal" name="DocumentFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentFormat">
      <soap12:operation soapAction="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/GetDocumentFormat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotFoundFaultFault">
        <soap12:fault use="literal" name="NotFoundFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DocumentFaultFault">
        <soap12:fault use="literal" name="DocumentFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentFormats">
      <soap12:operation soapAction="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/GetDocumentFormats" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DocumentFaultFault">
        <soap12:fault use="literal" name="DocumentFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotFoundFaultFault">
        <soap12:fault use="literal" name="NotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentFormat">
      <soap12:operation soapAction="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/UpdateDocumentFormat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DocumentFaultFault">
        <soap12:fault use="literal" name="DocumentFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotFoundFaultFault">
        <soap12:fault use="literal" name="NotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateRepository">
      <soap12:operation soapAction="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/CreateRepository" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepositoryFaultFault">
        <soap12:fault use="literal" name="RepositoryFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotFoundFaultFault">
        <soap12:fault use="literal" name="NotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRepositoryById">
      <soap12:operation soapAction="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/GetRepositoryById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotFoundFaultFault">
        <soap12:fault use="literal" name="NotFoundFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RepositoryFaultFault">
        <soap12:fault use="literal" name="RepositoryFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRepositoryByName">
      <soap12:operation soapAction="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/GetRepositoryByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RepositoryFaultFault">
        <soap12:fault use="literal" name="RepositoryFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotFoundFaultFault">
        <soap12:fault use="literal" name="NotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRepositories">
      <soap12:operation soapAction="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/GetRepositories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepositoryFaultFault">
        <soap12:fault use="literal" name="RepositoryFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotFoundFaultFault">
        <soap12:fault use="literal" name="NotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateRepository">
      <soap12:operation soapAction="http://services.assurant.com/ssi/document/2012/6/20/IDocumentAdmin/UpdateRepository" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotFoundFaultFault">
        <soap12:fault use="literal" name="NotFoundFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RepositoryFaultFault">
        <soap12:fault use="literal" name="RepositoryFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentAdminService">
    <wsdl:port name="CustomBinding_IDocumentAdmin" binding="tns:CustomBinding_IDocumentAdmin">
      <soap12:address location="http://msp0wapfd001.cead.prd/Document/Entity/20120620/DocumentAdminService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>