ElitaPlus/Service References/OlitaWcfRef/OlitaWcf.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="OlitaWcf" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/ElitaInternalWS/Olita/OlitaWcf.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/ElitaInternalWS/Olita/OlitaWcf.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOlitaWcf_Hello_InputMessage">
    <wsdl:part name="parameters" element="tns:Hello" />
  </wsdl:message>
  <wsdl:message name="IOlitaWcf_Hello_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloResponse" />
  </wsdl:message>
  <wsdl:message name="IOlitaWcf_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IOlitaWcf_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IOlitaWcf_LoginBody_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginBody" />
  </wsdl:message>
  <wsdl:message name="IOlitaWcf_LoginBody_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginBodyResponse" />
  </wsdl:message>
  <wsdl:message name="IOlitaWcf_ProcessRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessRequest" />
  </wsdl:message>
  <wsdl:message name="IOlitaWcf_ProcessRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="IOlitaWcf">
    <wsdl:operation name="Hello">
      <wsdl:input wsaw:Action="http://tempuri.org/IOlitaWcf/Hello" message="tns:IOlitaWcf_Hello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOlitaWcf/HelloResponse" message="tns:IOlitaWcf_Hello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IOlitaWcf/Login" message="tns:IOlitaWcf_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOlitaWcf/LoginResponse" message="tns:IOlitaWcf_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginBody">
      <wsdl:input wsaw:Action="http://tempuri.org/IOlitaWcf/LoginBody" message="tns:IOlitaWcf_LoginBody_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOlitaWcf/LoginBodyResponse" message="tns:IOlitaWcf_LoginBody_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IOlitaWcf/ProcessRequest" message="tns:IOlitaWcf_ProcessRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOlitaWcf/ProcessRequestResponse" message="tns:IOlitaWcf_ProcessRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOlitaWcf" type="tns:IOlitaWcf">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Hello">
      <soap:operation soapAction="http://tempuri.org/IOlitaWcf/Hello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IOlitaWcf/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginBody">
      <soap:operation soapAction="http://tempuri.org/IOlitaWcf/LoginBody" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequest">
      <soap:operation soapAction="http://tempuri.org/IOlitaWcf/ProcessRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OlitaWcf">
    <wsdl:port name="BasicHttpBinding_IOlitaWcf" binding="tns:BasicHttpBinding_IOlitaWcf">
      <soap:address location="http://localhost/ElitaInternalWS/Olita/OlitaWcf.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>