ElitaHarvesterService/Service References/ASMMacStore/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ActualizaInfoXCambioAC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DealerCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CertificateNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SKU" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Brand" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Model" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SerialNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReplacementSerialNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReplacementIMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdMotive" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizaInfoXCambioACResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActualizaInfoXCambioACResult" type="tns:ArrayOfResultado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfResultado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Resultado" nillable="true" type="tns:Resultado" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Resultado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfResultado" nillable="true" type="tns:ArrayOfResultado" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ActualizaInfoXCambioACSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizaInfoXCambioAC" />
  </wsdl:message>
  <wsdl:message name="ActualizaInfoXCambioACSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizaInfoXCambioACResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizaInfoXCambioACHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="DealerCode" type="s:string" />
    <wsdl:part name="CertificateNumber" type="s:string" />
    <wsdl:part name="SKU" type="s:string" />
    <wsdl:part name="Brand" type="s:string" />
    <wsdl:part name="Model" type="s:string" />
    <wsdl:part name="SerialNumber" type="s:string" />
    <wsdl:part name="IMEI" type="s:string" />
    <wsdl:part name="ReplacementSerialNumber" type="s:string" />
    <wsdl:part name="ReplacementIMEI" type="s:string" />
    <wsdl:part name="TransactionType" type="s:string" />
    <wsdl:part name="IdMotive" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ActualizaInfoXCambioACHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfResultado" />
  </wsdl:message>
  <wsdl:message name="ActualizaInfoXCambioACHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="DealerCode" type="s:string" />
    <wsdl:part name="CertificateNumber" type="s:string" />
    <wsdl:part name="SKU" type="s:string" />
    <wsdl:part name="Brand" type="s:string" />
    <wsdl:part name="Model" type="s:string" />
    <wsdl:part name="SerialNumber" type="s:string" />
    <wsdl:part name="IMEI" type="s:string" />
    <wsdl:part name="ReplacementSerialNumber" type="s:string" />
    <wsdl:part name="ReplacementIMEI" type="s:string" />
    <wsdl:part name="TransactionType" type="s:string" />
    <wsdl:part name="IdMotive" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ActualizaInfoXCambioACHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfResultado" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ActualizaInfoXCambioAC">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualiza información de ID de dispositivo.</wsdl:documentation>
      <wsdl:input message="tns:ActualizaInfoXCambioACSoapIn" />
      <wsdl:output message="tns:ActualizaInfoXCambioACSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="ActualizaInfoXCambioAC">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualiza información de ID de dispositivo.</wsdl:documentation>
      <wsdl:input message="tns:ActualizaInfoXCambioACHttpGetIn" />
      <wsdl:output message="tns:ActualizaInfoXCambioACHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="ActualizaInfoXCambioAC">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualiza información de ID de dispositivo.</wsdl:documentation>
      <wsdl:input message="tns:ActualizaInfoXCambioACHttpPostIn" />
      <wsdl:output message="tns:ActualizaInfoXCambioACHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActualizaInfoXCambioAC">
      <soap:operation soapAction="http://tempuri.org/ActualizaInfoXCambioAC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActualizaInfoXCambioAC">
      <soap12:operation soapAction="http://tempuri.org/ActualizaInfoXCambioAC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ActualizaInfoXCambioAC">
      <http:operation location="/ActualizaInfoXCambioAC" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ActualizaInfoXCambioAC">
      <http:operation location="/ActualizaInfoXCambioAC" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://148.244.108.13:8022/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://148.244.108.13:8022/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://148.244.108.13:8022/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://148.244.108.13:8022/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>