BusinessObjects/Service References/SmartStream.AP/intra.assurantcorp.com.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="net.tcp://intra.assurantcorp.com" elementFormDefault="qualified" targetNamespace="net.tcp://intra.assurantcorp.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/Message" />
  <xs:import namespace="http://schemas.APService.com" />
  <xs:element name="InvoiceUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="loadFile" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvoiceUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.APService.com" minOccurs="0" name="InvoiceUploadResult" nillable="true" type="q2:BatchSummaryType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VendorUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/Message" name="loadFile" type="q3:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VendorUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.APService.com" minOccurs="0" name="VendorUploadResult" nillable="true" type="q4:VendorSummaryType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>