BusinessObjects/Service References/SmartStream.AP/schemas.APService.com.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.APService.com" elementFormDefault="qualified" targetNamespace="http://schemas.APService.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="BatchSummaryType">
    <xs:sequence>
      <xs:element name="BatchID" type="ser:guid" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ControlGroupID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ControlGroupDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ControlGroupTotal" type="xs:decimal" />
      <xs:element name="BatchStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VendorCreation" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordCount" type="xs:int" />
      <xs:element minOccurs="0" name="InvoiceCount" type="xs:int" />
      <xs:element minOccurs="0" name="LoadTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BatchSummaryType" nillable="true" type="tns:BatchSummaryType" />
  <xs:complexType name="VendorSummaryType">
    <xs:sequence>
      <xs:element name="VendorBatchID" type="ser:guid" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element name="BatchStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordCount" type="xs:int" />
      <xs:element minOccurs="0" name="NewVendorCount" type="xs:int" />
      <xs:element minOccurs="0" name="OTVendorCount" type="xs:int" />
      <xs:element minOccurs="0" name="vendorErrorCount" type="xs:int" />
      <xs:element minOccurs="0" name="LoadTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VendorSummaryType" nillable="true" type="tns:VendorSummaryType" />
</xs:schema>