ElitaPlus/Service References/ClaimService/ClaimService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://elita.assurant.com/Elita/Claim/RecordingService/DataContracts" elementFormDefault="qualified" targetNamespace="http://elita.assurant.com/Elita/Claim/RecordingService/DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AddressInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressInfo" nillable="true" type="tns:AddressInfo" />
  <xs:complexType name="BaseCaller">
    <xs:sequence>
      <xs:element name="FirstName" nillable="true" type="xs:string" />
      <xs:element name="LastName" nillable="true" type="xs:string" />
      <xs:element name="RelationshipTypeCode" nillable="true" type="xs:string" />
      <xs:element name="ChannelCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CultureCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseCaller" nillable="true" type="tns:BaseCaller" />
</xs:schema>