BusinessObjects/Web References/WebDeClaimsServiceReference/WSElitaServiceOrder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://b2b.gapnetworks.com" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WSElitaServiceOrder" targetNamespace="https://b2b.gapnetworks.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="https://b2b.gapnetworks.com" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="Hello" type="tns:Hello" />
      <xs:element name="HelloResponse" type="tns:HelloResponse" />
      <xs:element name="Login" type="tns:Login" />
      <xs:element name="LoginResponse" type="tns:LoginResponse" />
      <xs:element name="ProcessRequest" type="tns:ProcessRequest" />
      <xs:element name="ProcessRequestResponse" type="tns:ProcessRequestResponse" />
      <xs:complexType name="Login">
        <xs:sequence>
          <xs:element minOccurs="0" name="ASCCode" type="xs:string" />
          <xs:element minOccurs="0" name="Password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LoginResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ProcessRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="gvsSession" type="xs:string" />
          <xs:element minOccurs="0" name="Process" type="xs:string" />
          <xs:element minOccurs="0" name="xmlInput" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ProcessRequestResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="RESULT" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Hello">
        <xs:sequence>
          <xs:element minOccurs="0" name="sName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="HelloResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="LoginResponse">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessRequest">
    <wsdl:part name="parameters" element="tns:ProcessRequest" />
  </wsdl:message>
  <wsdl:message name="Hello">
    <wsdl:part name="parameters" element="tns:Hello" />
  </wsdl:message>
  <wsdl:message name="ProcessRequestResponse">
    <wsdl:part name="parameters" element="tns:ProcessRequestResponse" />
  </wsdl:message>
  <wsdl:message name="HelloResponse">
    <wsdl:part name="parameters" element="tns:HelloResponse" />
  </wsdl:message>
  <wsdl:message name="Login">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:portType name="WSElitaServiceOrderSoap">
    <wsdl:operation name="Login">
      <wsdl:input name="Login" message="tns:Login" />
      <wsdl:output name="LoginResponse" message="tns:LoginResponse" />
    </wsdl:operation>
    <wsdl:operation name="ProcessRequest">
      <wsdl:input name="ProcessRequest" message="tns:ProcessRequest" />
      <wsdl:output name="ProcessRequestResponse" message="tns:ProcessRequestResponse" />
    </wsdl:operation>
    <wsdl:operation name="Hello">
      <wsdl:input name="Hello" message="tns:Hello" />
      <wsdl:output name="HelloResponse" message="tns:HelloResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSElitaServiceOrderSoapBinding" type="tns:WSElitaServiceOrderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="Login">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="LoginResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequest">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="ProcessRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ProcessRequestResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hello">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="Hello">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="HelloResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSElitaServiceOrder">
    <wsdl:port name="WSElitaServiceOrderSoapImplPort" binding="tns:WSElitaServiceOrderSoapBinding">
      <soap:address location="http://10.210.12.44:8080/webclaims/WSElitaServiceOrder" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>