ElitaPlus/Service References/ClaimRecordingService/ClaimRecordingService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://elita.assurant.com/Elita/Claim/RecordingService/DataContracts" elementFormDefault="qualified" targetNamespace="http://elita.assurant.com/Elita/Claim/RecordingService/DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ElitaClaimService/ClaimRecordingService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/ElitaClaimService/ClaimRecordingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimService.Contracts.Recording.Shared.ClaimRecordingResponse" />
  <xs:import schemaLocation="http://localhost/ElitaClaimService/ClaimRecordingService.svc?xsd=xsd5" namespace="http://assurant.com/Elita/ClaimFulfillment/Shared/Data" />
  <xs:import schemaLocation="http://localhost/ElitaClaimService/ClaimRecordingService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="PhoneCaller">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseCaller">
        <xs:sequence>
          <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PhoneCaller" nillable="true" type="tns:PhoneCaller" />
  <xs:complexType name="BaseCaller">
    <xs:sequence>
      <xs:element name="FirstName" nillable="true" type="xs:string" />
      <xs:element name="LastName" nillable="true" type="xs:string" />
      <xs:element name="RelationshipTypeCode" nillable="true" type="xs:string" />
      <xs:element name="ChannelCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CultureCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAuthenticated" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseCaller" nillable="true" type="tns:BaseCaller" />
  <xs:complexType name="WebCaller">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseCaller">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClientIpAddress" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebCaller" nillable="true" type="tns:WebCaller" />
  <xs:complexType name="ClaimReference">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseReference">
        <xs:sequence>
          <xs:element name="ClaimNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClaimReference" nillable="true" type="tns:ClaimReference" />
  <xs:complexType name="BaseReference">
    <xs:sequence>
      <xs:element name="CompanyCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseReference" nillable="true" type="tns:BaseReference" />
  <xs:complexType name="CertificateReference">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseReference">
        <xs:sequence>
          <xs:element name="DealerCode" nillable="true" type="xs:string" />
          <xs:element name="CertificateNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CertificateReference" nillable="true" type="tns:CertificateReference" />
  <xs:complexType name="PropertyReference">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseReference">
        <xs:sequence>
          <xs:element name="Properties" nillable="true" type="tns:ArrayOfPropertyReferenceInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PropertyReference" nillable="true" type="tns:PropertyReference" />
  <xs:complexType name="ArrayOfPropertyReferenceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PropertyReferenceInfo" nillable="true" type="tns:PropertyReferenceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPropertyReferenceInfo" nillable="true" type="tns:ArrayOfPropertyReferenceInfo" />
  <xs:complexType name="PropertyReferenceInfo">
    <xs:sequence>
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PropertyReferenceInfo" nillable="true" type="tns:PropertyReferenceInfo" />
  <xs:complexType name="NoReference">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NoReference" nillable="true" type="tns:NoReference" />
  <xs:complexType name="DeviceVerificationResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseClaimRecordingResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="EnrolledDevice" nillable="true" type="tns:DeviceInfo" />
          <xs:element minOccurs="0" name="ClaimedDevice" nillable="true" type="tns:DeviceInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeviceVerificationResponse" nillable="true" type="tns:DeviceVerificationResponse" />
  <xs:complexType name="BaseClaimRecordingResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CaseNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InteractionNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimRecordingMessages" nillable="true" type="tns:ArrayOfClaimRecordingMessage" />
      <xs:element minOccurs="0" name="Fields" nillable="true" type="tns:ArrayOfField" />
      <xs:element minOccurs="0" name="CustomerInfo" nillable="true" type="tns:CustomerInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseClaimRecordingResponse" nillable="true" type="tns:BaseClaimRecordingResponse" />
  <xs:complexType name="ArrayOfClaimRecordingMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClaimRecordingMessage" nillable="true" type="tns:ClaimRecordingMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClaimRecordingMessage" nillable="true" type="tns:ArrayOfClaimRecordingMessage" />
  <xs:complexType name="ClaimRecordingMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClaimRecordingMessage" nillable="true" type="tns:ClaimRecordingMessage" />
  <xs:complexType name="ArrayOfField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Field" nillable="true" type="tns:Field" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfField" nillable="true" type="tns:ArrayOfField" />
  <xs:complexType name="Field">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Field" nillable="true" type="tns:Field" />
  <xs:complexType name="CustomerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkPhone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerInfo" nillable="true" type="tns:CustomerInfo" />
  <xs:complexType name="DeviceInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EquipmentInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="ImeiNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RegisteredItemName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PurchasePrice" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="PurchasedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DeviceType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="RiskTypeCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeviceInfo" nillable="true" type="tns:DeviceInfo" />
  <xs:complexType name="EquipmentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Capacity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Carrier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelFamily" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManufacturerIdentifier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EquipmentInfo" nillable="true" type="tns:EquipmentInfo" />
  <xs:complexType name="AddressInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressInfo" nillable="true" type="tns:AddressInfo" />
  <xs:complexType name="ArrayOfAddressInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddressInfo" nillable="true" type="tns:AddressInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddressInfo" nillable="true" type="tns:ArrayOfAddressInfo" />
  <xs:complexType name="DecisionResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseClaimRecordingResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Actions" nillable="true" type="tns:ArrayOfCustomerActionResponse" />
          <xs:element minOccurs="0" name="DecisionType" type="tns:DecisionTypes" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DecisionResponse" nillable="true" type="tns:DecisionResponse" />
  <xs:complexType name="ArrayOfCustomerActionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerActionResponse" nillable="true" type="tns:CustomerActionResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerActionResponse" nillable="true" type="tns:ArrayOfCustomerActionResponse" />
  <xs:complexType name="CustomerActionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActionDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerActionResponse" nillable="true" type="tns:CustomerActionResponse" />
  <xs:simpleType name="DecisionTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Denied" />
      <xs:enumeration value="Approved" />
      <xs:enumeration value="Pending" />
      <xs:enumeration value="Refer" />
      <xs:enumeration value="Retained" />
      <xs:enumeration value="Accepted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DecisionTypes" nillable="true" type="tns:DecisionTypes" />
  <xs:complexType name="QuestionResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseClaimRecordingResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="QuestionSetCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Version" type="xs:int" />
          <xs:element minOccurs="0" name="SequenceNumber" type="xs:int" />
          <xs:element minOccurs="0" name="Questions" nillable="true" type="tns:ArrayOfQuestion" />
          <xs:element minOccurs="0" name="Parameters" nillable="true" type="tns:ArrayOfQuestionSetParameter" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QuestionResponse" nillable="true" type="tns:QuestionResponse" />
  <xs:complexType name="ArrayOfQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Question" nillable="true" type="tns:Question" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestion" nillable="true" type="tns:ArrayOfQuestion" />
  <xs:complexType name="Question">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnswerType" type="tns:AnswerType" />
      <xs:element minOccurs="0" name="Mandatory" type="xs:boolean" />
      <xs:element minOccurs="0" name="Scale" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Precision" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Length" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SequenceNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Answer" nillable="true" type="tns:BaseAnswer" />
      <xs:element minOccurs="0" name="PreConditions" nillable="true" type="tns:ArrayOfPreCondition" />
      <xs:element minOccurs="0" name="Applicable" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReEvaulateOnChange" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ChannelDisabled" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Question" nillable="true" type="tns:Question" />
  <xs:simpleType name="AnswerType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Choice" />
      <xs:enumeration value="Date" />
      <xs:enumeration value="Text" />
      <xs:enumeration value="ListOfValues" />
      <xs:enumeration value="Number" />
      <xs:enumeration value="Boolean" />
      <xs:enumeration value="Content" />
      <xs:enumeration value="LegalConsent" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AnswerType" nillable="true" type="tns:AnswerType" />
  <xs:complexType name="BaseAnswer">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseAnswer" nillable="true" type="tns:BaseAnswer" />
  <xs:complexType name="ArrayOfPreCondition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PreCondition" nillable="true" type="tns:PreCondition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPreCondition" nillable="true" type="tns:ArrayOfPreCondition" />
  <xs:complexType name="PreCondition">
    <xs:sequence>
      <xs:element name="PreConditionType" type="tns:PreConditionTypes" />
      <xs:element minOccurs="0" name="QuestionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnswerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PreCondition" nillable="true" type="tns:PreCondition" />
  <xs:simpleType name="PreConditionTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Equal" />
      <xs:enumeration value="NotEqual" />
      <xs:enumeration value="PreviousQuestionsComplete" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PreConditionTypes" nillable="true" type="tns:PreConditionTypes" />
  <xs:complexType name="ArrayOfQuestionSetParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuestionSetParameter" nillable="true" type="tns:QuestionSetParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestionSetParameter" nillable="true" type="tns:ArrayOfQuestionSetParameter" />
  <xs:complexType name="QuestionSetParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="ParameterCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionSetParameter" nillable="true" type="tns:QuestionSetParameter" />
  <xs:complexType name="ItemSelectionResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseClaimRecordingResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="RegisteredItems" nillable="true" type="tns:ArrayOfDeviceInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ItemSelectionResponse" nillable="true" type="tns:ItemSelectionResponse" />
  <xs:complexType name="ArrayOfDeviceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceInfo" nillable="true" type="tns:DeviceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceInfo" nillable="true" type="tns:ArrayOfDeviceInfo" />
  <xs:complexType name="BestReplacementResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseClaimRecordingResponse">
        <xs:sequence>
          <xs:element name="OriginalDevice" nillable="true" type="tns:BestReplacementDeviceInfo" />
          <xs:element name="BestReplacementOptins" nillable="true" type="tns:ArrayOfBestReplacementDeviceInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BestReplacementResponse" nillable="true" type="tns:BestReplacementResponse" />
  <xs:complexType name="BestReplacementDeviceInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EquipmentInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="VendorSku" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Priority" type="xs:int" />
          <xs:element minOccurs="0" name="InventoryQuantity" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="EquipmentId" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="InventoryId" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="ServiceCenterCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClaimedDevice" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BestReplacementDeviceInfo" nillable="true" type="tns:BestReplacementDeviceInfo" />
  <xs:complexType name="ArrayOfBestReplacementDeviceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BestReplacementDeviceInfo" nillable="true" type="tns:BestReplacementDeviceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBestReplacementDeviceInfo" nillable="true" type="tns:ArrayOfBestReplacementDeviceInfo" />
  <xs:complexType name="TroubleShootingResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseClaimRecordingResponse">
        <xs:sequence>
          <xs:element name="ImeiNumber" nillable="true" type="xs:string" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimService.Contracts.Recording.Shared.ClaimRecordingResponse" name="TroubleShootingOption" type="q1:TroubleShootingOptionFlag" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TroubleShootingResponse" nillable="true" type="tns:TroubleShootingResponse" />
  <xs:complexType name="CallerAuthenticationResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseClaimRecordingResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Questions" nillable="true" type="tns:ArrayOfQuestion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CallerAuthenticationResponse" nillable="true" type="tns:CallerAuthenticationResponse" />
  <xs:complexType name="LogisticStagesResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseClaimRecordingResponse">
        <xs:sequence>
          <xs:element xmlns:q2="http://assurant.com/Elita/ClaimFulfillment/Shared/Data" name="Stages" nillable="true" type="q2:ArrayOfLogisticStage" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LogisticStagesResponse" nillable="true" type="tns:LogisticStagesResponse" />
  <xs:complexType name="DateAnswer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseAnswer">
        <xs:sequence>
          <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DateAnswer" nillable="true" type="tns:DateAnswer" />
  <xs:complexType name="TextAnswer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseAnswer">
        <xs:sequence>
          <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextAnswer" nillable="true" type="tns:TextAnswer" />
  <xs:complexType name="NumberAnswer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseAnswer">
        <xs:sequence>
          <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NumberAnswer" nillable="true" type="tns:NumberAnswer" />
  <xs:complexType name="ListOfValuesAnswer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseAnswer">
        <xs:sequence>
          <xs:element minOccurs="0" name="Answers" nillable="true" type="tns:ArrayOfAnswerValue" />
          <xs:element minOccurs="0" name="Answer" nillable="true" type="tns:AnswerValue" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListOfValuesAnswer" nillable="true" type="tns:ListOfValuesAnswer" />
  <xs:complexType name="ArrayOfAnswerValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnswerValue" nillable="true" type="tns:AnswerValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnswerValue" nillable="true" type="tns:ArrayOfAnswerValue" />
  <xs:complexType name="AnswerValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SequenceNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnswerValue" nillable="true" type="tns:AnswerValue" />
  <xs:complexType name="ChoiceAnswer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseAnswer">
        <xs:sequence>
          <xs:element minOccurs="0" name="Answers" nillable="true" type="tns:ArrayOfAnswerValue" />
          <xs:element minOccurs="0" name="Answer" nillable="true" type="tns:AnswerValue" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChoiceAnswer" nillable="true" type="tns:ChoiceAnswer" />
  <xs:complexType name="BooleanAnswer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseAnswer">
        <xs:sequence>
          <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BooleanAnswer" nillable="true" type="tns:BooleanAnswer" />
  <xs:complexType name="ContentAnswer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseAnswer">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContentAnswer" nillable="true" type="tns:ContentAnswer" />
  <xs:complexType name="LegalConsentAnswer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseAnswer">
        <xs:sequence>
          <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LegalConsentAnswer" nillable="true" type="tns:LegalConsentAnswer" />
  <xs:complexType name="DeviceSelectionRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseClaimRecordingRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClaimedDevice" nillable="true" type="tns:DeviceInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeviceSelectionRequest" nillable="true" type="tns:DeviceSelectionRequest" />
  <xs:complexType name="BaseClaimRecordingRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CaseNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InteractionNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseClaimRecordingRequest" nillable="true" type="tns:BaseClaimRecordingRequest" />
  <xs:complexType name="QuestionRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseClaimRecordingRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="QuestionSetCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Version" type="xs:int" />
          <xs:element minOccurs="0" name="Questions" nillable="true" type="tns:ArrayOfQuestion" />
          <xs:element minOccurs="0" name="Parameters" nillable="true" type="tns:ArrayOfQuestionSetParameter" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QuestionRequest" nillable="true" type="tns:QuestionRequest" />
  <xs:complexType name="ShippingAddressRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseClaimRecordingRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="ShippingAddress" nillable="true" type="tns:AddressInfo" />
          <xs:element minOccurs="0" name="DesiredDeliveryDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DesiredDeliveryTimeSlot" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ShippingAddressRequest" nillable="true" type="tns:ShippingAddressRequest" />
  <xs:complexType name="CloseCaseRecordingRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseClaimRecordingRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="ReasonCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CloseCaseRecordingRequest" nillable="true" type="tns:CloseCaseRecordingRequest" />
  <xs:complexType name="BestReplacementSelectionRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseClaimRecordingRequest">
        <xs:sequence>
          <xs:element name="IsBestReplacementDeviceSelected" type="xs:boolean" />
          <xs:element name="ReplacementDevice" nillable="true" type="tns:BestReplacementDeviceInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BestReplacementSelectionRequest" nillable="true" type="tns:BestReplacementSelectionRequest" />
  <xs:complexType name="TroubleShootingRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseClaimRecordingRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="IssueResolved" type="tns:TroubleShootingResolutionFlag" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TroubleShootingRequest" nillable="true" type="tns:TroubleShootingRequest" />
  <xs:simpleType name="TroubleShootingResolutionFlag">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Yes" />
      <xs:enumeration value="No" />
      <xs:enumeration value="Skipped" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TroubleShootingResolutionFlag" nillable="true" type="tns:TroubleShootingResolutionFlag" />
  <xs:complexType name="CallerAuthenticationRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseClaimRecordingRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Questions" nillable="true" type="tns:ArrayOfQuestion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CallerAuthenticationRequest" nillable="true" type="tns:CallerAuthenticationRequest" />
  <xs:complexType name="FulfillmentOptionsRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseClaimRecordingRequest">
        <xs:sequence>
          <xs:element name="OptionCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QuestionSetCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QuestionVersion" type="xs:int" />
          <xs:element minOccurs="0" name="Questions" nillable="true" type="tns:ArrayOfQuestion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FulfillmentOptionsRequest" nillable="true" type="tns:FulfillmentOptionsRequest" />
  <xs:complexType name="CreateCaseRequest">
    <xs:sequence>
      <xs:element name="Reference" nillable="true" type="tns:BaseReference" />
      <xs:element name="Caller" nillable="true" type="tns:BaseCaller" />
      <xs:element minOccurs="0" name="PurposeCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateCaseRequest" nillable="true" type="tns:CreateCaseRequest" />
  <xs:complexType name="BeginInteractionRequest">
    <xs:sequence>
      <xs:element name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element name="CaseNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Caller" nillable="true" type="tns:BaseCaller" />
      <xs:element minOccurs="0" name="PurposeCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BeginInteractionRequest" nillable="true" type="tns:BeginInteractionRequest" />
  <xs:complexType name="GetClaimSummaryRequest">
    <xs:sequence>
      <xs:element name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element name="CaseNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetClaimSummaryRequest" nillable="true" type="tns:GetClaimSummaryRequest" />
  <xs:complexType name="GetClaimSummaryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CaseNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="QuestionSets" nillable="true" type="q3:ArrayOfKeyValueOfstringArrayOfQuestionKjP37BP8" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetClaimSummaryResponse" nillable="true" type="tns:GetClaimSummaryResponse" />
  <xs:complexType name="GetDurationRequest">
    <xs:sequence>
      <xs:element name="CountryCode" nillable="true" type="xs:string" />
      <xs:element name="CourierCode" nillable="true" type="xs:string" />
      <xs:element name="DestinationZipCode" nillable="true" type="xs:string" />
      <xs:element name="SourceZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDurationRequest" nillable="true" type="tns:GetDurationRequest" />
  <xs:complexType name="ArrayOfGetDurationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetDurationResponse" nillable="true" type="tns:GetDurationResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetDurationResponse" nillable="true" type="tns:ArrayOfGetDurationResponse" />
  <xs:complexType name="GetDurationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourierCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DurationDays" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDurationResponse" nillable="true" type="tns:GetDurationResponse" />
</xs:schema>