ElitaPlus/Service References/ClaimRecordingService/ClaimRecordingService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://elita.assurant.com/Elita/ClaimService" elementFormDefault="qualified" targetNamespace="http://elita.assurant.com/Elita/ClaimService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ElitaClaimService/ClaimRecordingService.svc?xsd=xsd1" namespace="http://elita.assurant.com/Elita/Claim/RecordingService/DataContracts" />
  <xs:complexType name="ShippingAddressResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://elita.assurant.com/Elita/Claim/RecordingService/DataContracts" base="q1:BaseClaimRecordingResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="PolicyAddress" nillable="true" type="q1:AddressInfo" />
          <xs:element minOccurs="0" name="ShippingAddress" nillable="true" type="q1:AddressInfo" />
          <xs:element minOccurs="0" name="SuggestedAddresses" nillable="true" type="q1:ArrayOfAddressInfo" />
          <xs:element minOccurs="0" name="AllowDeliveryDateSelection" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ShippingAddressResponse" nillable="true" type="tns:ShippingAddressResponse" />
</xs:schema>