ElitaPlus/Service References/ClaimRecordingService/ClaimRecordingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://elita.assurant.com/Elita/Claim/RecordingService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://elita.assurant.com/Elita/Claim/RecordingService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://elita.assurant.com/Elita/Claim/RecordingService/Imports">
      <xsd:import schemaLocation="http://localhost/ElitaClaimService/ClaimRecordingService.svc?xsd=xsd7" namespace="http://elita.assurant.com/Elita/Claim/RecordingService" />
      <xsd:import schemaLocation="http://localhost/ElitaClaimService/ClaimRecordingService.svc?xsd=xsd8" namespace="http://elita.assurant.com/Elita/ClaimService/Faults" />
      <xsd:import schemaLocation="http://localhost/ElitaClaimService/ClaimRecordingService.svc?xsd=xsd9" namespace="http://assurant.com/Elita/ServiceIntegration/Faults" />
      <xsd:import schemaLocation="http://localhost/ElitaClaimService/ClaimRecordingService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/ElitaClaimService/ClaimRecordingService.svc?xsd=xsd1" namespace="http://elita.assurant.com/Elita/Claim/RecordingService/DataContracts" />
      <xsd:import schemaLocation="http://localhost/ElitaClaimService/ClaimRecordingService.svc?xsd=xsd2" namespace="http://elita.assurant.com/Elita/ClaimService" />
      <xsd:import schemaLocation="http://localhost/ElitaClaimService/ClaimRecordingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimService.Contracts.Recording.Shared.ClaimRecordingResponse" />
      <xsd:import schemaLocation="http://localhost/ElitaClaimService/ClaimRecordingService.svc?xsd=xsd4" namespace="http://assurant.com/Elita/ClaimFulfillment" />
      <xsd:import schemaLocation="http://localhost/ElitaClaimService/ClaimRecordingService.svc?xsd=xsd5" namespace="http://assurant.com/Elita/ClaimFulfillment/Shared/Data" />
      <xsd:import schemaLocation="http://localhost/ElitaClaimService/ClaimRecordingService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/ElitaClaimService/ClaimRecordingService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimService.BusinessRulesEngineInterface.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClaimRecordingService_BeginClaim_InputMessage">
    <wsdl:part name="parameters" element="tns:BeginClaim" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_BeginClaim_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeginClaimResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_BeginClaim_InvalidPolicyNumberFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://elita.assurant.com/Elita/ClaimService/Faults" name="detail" element="q1:InvalidPolicyNumberFault" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_BeginClaim_InvalidCompanyCodeFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://elita.assurant.com/Elita/ClaimService/Faults" name="detail" element="q2:InvalidCompanyCodeFault" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_BeginClaim_InvalidDealerCodeFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://elita.assurant.com/Elita/ClaimService/Faults" name="detail" element="q3:InvalidDealerCodeFault" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_BeginClaim_InvalidClaimNumberFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://elita.assurant.com/Elita/ClaimService/Faults" name="detail" element="q4:InvalidClaimNumberFault" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_BeginClaim_InvalidPurposeCodeFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://elita.assurant.com/Elita/ClaimService/Faults" name="detail" element="q5:InvalidPurposeCodeFault" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_BeginClaim_InvalidChannelFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://elita.assurant.com/Elita/ClaimService/Faults" name="detail" element="q6:InvalidChannelFault" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_BeginClaim_InvalidCultureCodeFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://elita.assurant.com/Elita/ClaimService/Faults" name="detail" element="q7:InvalidCultureCodeFault" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_BeginClaim_InvalidRelationshipTypeCodeFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://elita.assurant.com/Elita/ClaimService/Faults" name="detail" element="q8:InvalidRelationshipTypeCodeFault" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_BeginClaim_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://assurant.com/Elita/ServiceIntegration/Faults" name="detail" element="q9:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_BeginInteraction_InputMessage">
    <wsdl:part name="parameters" element="tns:BeginInteraction" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_BeginInteraction_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeginInteractionResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_BeginInteraction_InvalidCompanyCodeFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://elita.assurant.com/Elita/ClaimService/Faults" name="detail" element="q10:InvalidCompanyCodeFault" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_BeginInteraction_InvalidCaseNumberFaultFault_FaultMessage">
    <wsdl:part xmlns:q11="http://elita.assurant.com/Elita/ClaimService/Faults" name="detail" element="q11:InvalidCaseNumberFault" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_BeginInteraction_InvalidPurposeCodeFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://elita.assurant.com/Elita/ClaimService/Faults" name="detail" element="q12:InvalidPurposeCodeFault" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_BeginInteraction_InvalidChannelFaultFault_FaultMessage">
    <wsdl:part xmlns:q13="http://elita.assurant.com/Elita/ClaimService/Faults" name="detail" element="q13:InvalidChannelFault" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_BeginInteraction_InvalidCultureCodeFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://elita.assurant.com/Elita/ClaimService/Faults" name="detail" element="q14:InvalidCultureCodeFault" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_BeginInteraction_InvalidRelationshipTypeCodeFaultFault_FaultMessage">
    <wsdl:part xmlns:q15="http://elita.assurant.com/Elita/ClaimService/Faults" name="detail" element="q15:InvalidRelationshipTypeCodeFault" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_BeginInteraction_QuestionSetCodeNotFoundFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://elita.assurant.com/Elita/ClaimService/Faults" name="detail" element="q16:QuestionSetCodeNotFoundFault" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_BeginInteraction_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q17="http://assurant.com/Elita/ServiceIntegration/Faults" name="detail" element="q17:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_Submit_InputMessage">
    <wsdl:part name="parameters" element="tns:Submit" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_Submit_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_Submit_InvalidCompanyCodeFaultFault_FaultMessage">
    <wsdl:part xmlns:q18="http://elita.assurant.com/Elita/ClaimService/Faults" name="detail" element="q18:InvalidCompanyCodeFault" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_Submit_InvalidCaseNumberFaultFault_FaultMessage">
    <wsdl:part xmlns:q19="http://elita.assurant.com/Elita/ClaimService/Faults" name="detail" element="q19:InvalidCaseNumberFault" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_Submit_InvalidRegisteredItemsFaultFault_FaultMessage">
    <wsdl:part xmlns:q20="http://elita.assurant.com/Elita/ClaimService/Faults" name="detail" element="q20:RegisteredItemsNotFoundFault" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_Submit_ManufacturerNotFoundFaultFault_FaultMessage">
    <wsdl:part xmlns:q21="http://elita.assurant.com/Elita/ClaimService/Faults" name="detail" element="q21:ManufacturerNotFoundFault" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_Submit_PolicyCancelRequestDeniedFaultFault_FaultMessage">
    <wsdl:part xmlns:q22="http://elita.assurant.com/Elita/ClaimService/Faults" name="detail" element="q22:PolicyCancelRequestDeniedFault" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_Submit_FulfillmentServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q23="http://elita.assurant.com/Elita/ClaimService/Faults" name="detail" element="q23:FulfillmentServiceFault" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_Submit_TranslationNotFoundFaultFault_FaultMessage">
    <wsdl:part xmlns:q24="http://elita.assurant.com/Elita/ClaimService/Faults" name="detail" element="q24:TranslationNotFoundFault" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_Submit_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q25="http://assurant.com/Elita/ServiceIntegration/Faults" name="detail" element="q25:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_Save_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q26="http://assurant.com/Elita/ServiceIntegration/Faults" name="detail" element="q26:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_GetClaimSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimSummary" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_GetClaimSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_GetClaimSummary_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q27="http://assurant.com/Elita/ServiceIntegration/Faults" name="detail" element="q27:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_ReEvaluateQuestions_InputMessage">
    <wsdl:part name="parameters" element="tns:ReEvaluateQuestions" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_ReEvaluateQuestions_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReEvaluateQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_ReEvaluateQuestions_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q28="http://assurant.com/Elita/ServiceIntegration/Faults" name="detail" element="q28:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_UpdateCaseAction_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCaseAction" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_UpdateCaseAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCaseActionResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_UpdateCaseAction_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q29="http://assurant.com/Elita/ServiceIntegration/Faults" name="detail" element="q29:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_GetPolicySummaryInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPolicySummaryInfo" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_GetPolicySummaryInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPolicySummaryInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_GetCourierDurations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourierDurations" />
  </wsdl:message>
  <wsdl:message name="IClaimRecordingService_GetCourierDurations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCourierDurationsResponse" />
  </wsdl:message>
  <wsdl:portType name="IClaimRecordingService">
    <wsdl:operation name="BeginClaim">
      <wsdl:input wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/BeginClaim" message="tns:IClaimRecordingService_BeginClaim_InputMessage" />
      <wsdl:output wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/BeginClaimResponse" message="tns:IClaimRecordingService_BeginClaim_OutputMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/BeginClaimInvalidPolicyNumberFaultFault" name="InvalidPolicyNumberFaultFault" message="tns:IClaimRecordingService_BeginClaim_InvalidPolicyNumberFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/BeginClaimInvalidCompanyCodeFaultFault" name="InvalidCompanyCodeFaultFault" message="tns:IClaimRecordingService_BeginClaim_InvalidCompanyCodeFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/BeginClaimInvalidDealerCodeFaultFault" name="InvalidDealerCodeFaultFault" message="tns:IClaimRecordingService_BeginClaim_InvalidDealerCodeFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/BeginClaimInvalidClaimNumberFaultFault" name="InvalidClaimNumberFaultFault" message="tns:IClaimRecordingService_BeginClaim_InvalidClaimNumberFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/BeginClaimInvalidPurposeCodeFaultFault" name="InvalidPurposeCodeFaultFault" message="tns:IClaimRecordingService_BeginClaim_InvalidPurposeCodeFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/BeginClaimInvalidChannelFaultFault" name="InvalidChannelFaultFault" message="tns:IClaimRecordingService_BeginClaim_InvalidChannelFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/BeginClaimInvalidCultureCodeFaultFault" name="InvalidCultureCodeFaultFault" message="tns:IClaimRecordingService_BeginClaim_InvalidCultureCodeFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/BeginClaimInvalidRelationshipTypeCodeFaultFault" name="InvalidRelationshipTypeCodeFaultFault" message="tns:IClaimRecordingService_BeginClaim_InvalidRelationshipTypeCodeFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/BeginClaimValidationFaultFault" name="ValidationFaultFault" message="tns:IClaimRecordingService_BeginClaim_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="BeginInteraction">
      <wsdl:input wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/BeginInteraction" message="tns:IClaimRecordingService_BeginInteraction_InputMessage" />
      <wsdl:output wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/BeginInteractionResponse" message="tns:IClaimRecordingService_BeginInteraction_OutputMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/BeginInteractionInvalidCompanyCodeFaultFault" name="InvalidCompanyCodeFaultFault" message="tns:IClaimRecordingService_BeginInteraction_InvalidCompanyCodeFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/BeginInteractionInvalidCaseNumberFaultFault" name="InvalidCaseNumberFaultFault" message="tns:IClaimRecordingService_BeginInteraction_InvalidCaseNumberFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/BeginInteractionInvalidPurposeCodeFaultFault" name="InvalidPurposeCodeFaultFault" message="tns:IClaimRecordingService_BeginInteraction_InvalidPurposeCodeFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/BeginInteractionInvalidChannelFaultFault" name="InvalidChannelFaultFault" message="tns:IClaimRecordingService_BeginInteraction_InvalidChannelFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/BeginInteractionInvalidCultureCodeFaultFault" name="InvalidCultureCodeFaultFault" message="tns:IClaimRecordingService_BeginInteraction_InvalidCultureCodeFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/BeginInteractionInvalidRelationshipTypeCodeFaultFault" name="InvalidRelationshipTypeCodeFaultFault" message="tns:IClaimRecordingService_BeginInteraction_InvalidRelationshipTypeCodeFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/BeginInteractionQuestionSetCodeNotFoundFaultFault" name="QuestionSetCodeNotFoundFaultFault" message="tns:IClaimRecordingService_BeginInteraction_QuestionSetCodeNotFoundFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/BeginInteractionValidationFaultFault" name="ValidationFaultFault" message="tns:IClaimRecordingService_BeginInteraction_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Submit">
      <wsdl:input wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/Submit" message="tns:IClaimRecordingService_Submit_InputMessage" />
      <wsdl:output wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/SubmitResponse" message="tns:IClaimRecordingService_Submit_OutputMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/SubmitInvalidCompanyCodeFaultFault" name="InvalidCompanyCodeFaultFault" message="tns:IClaimRecordingService_Submit_InvalidCompanyCodeFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/SubmitInvalidCaseNumberFaultFault" name="InvalidCaseNumberFaultFault" message="tns:IClaimRecordingService_Submit_InvalidCaseNumberFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/SubmitInvalidRegisteredItemsFaultFault" name="InvalidRegisteredItemsFaultFault" message="tns:IClaimRecordingService_Submit_InvalidRegisteredItemsFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/SubmitManufacturerNotFoundFaultFault" name="ManufacturerNotFoundFaultFault" message="tns:IClaimRecordingService_Submit_ManufacturerNotFoundFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/SubmitPolicyCancelRequestDeniedFaultFault" name="PolicyCancelRequestDeniedFaultFault" message="tns:IClaimRecordingService_Submit_PolicyCancelRequestDeniedFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/SubmitFulfillmentServiceFaultFault" name="FulfillmentServiceFaultFault" message="tns:IClaimRecordingService_Submit_FulfillmentServiceFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/SubmitTranslationNotFoundFaultFault" name="TranslationNotFoundFaultFault" message="tns:IClaimRecordingService_Submit_TranslationNotFoundFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/SubmitValidationFaultFault" name="ValidationFaultFault" message="tns:IClaimRecordingService_Submit_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/Save" message="tns:IClaimRecordingService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/SaveResponse" message="tns:IClaimRecordingService_Save_OutputMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/SaveValidationFaultFault" name="ValidationFaultFault" message="tns:IClaimRecordingService_Save_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClaimSummary">
      <wsdl:input wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/GetClaimSummary" message="tns:IClaimRecordingService_GetClaimSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/GetClaimSummaryResponse" message="tns:IClaimRecordingService_GetClaimSummary_OutputMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/GetClaimSummaryValidationFaultFault" name="ValidationFaultFault" message="tns:IClaimRecordingService_GetClaimSummary_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReEvaluateQuestions">
      <wsdl:input wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/ReEvaluateQuestions" message="tns:IClaimRecordingService_ReEvaluateQuestions_InputMessage" />
      <wsdl:output wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/ReEvaluateQuestionsResponse" message="tns:IClaimRecordingService_ReEvaluateQuestions_OutputMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/ReEvaluateQuestionsValidationFaultFault" name="ValidationFaultFault" message="tns:IClaimRecordingService_ReEvaluateQuestions_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCaseAction">
      <wsdl:input wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/UpdateCaseAction" message="tns:IClaimRecordingService_UpdateCaseAction_InputMessage" />
      <wsdl:output wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/UpdateCaseActionResponse" message="tns:IClaimRecordingService_UpdateCaseAction_OutputMessage" />
      <wsdl:fault wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/UpdateCaseActionValidationFaultFault" name="ValidationFaultFault" message="tns:IClaimRecordingService_UpdateCaseAction_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPolicySummaryInfo">
      <wsdl:input wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/GetPolicySummaryInfo" message="tns:IClaimRecordingService_GetPolicySummaryInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/GetPolicySummaryInfoResponse" message="tns:IClaimRecordingService_GetPolicySummaryInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourierDurations">
      <wsdl:input wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/GetCourierDurations" message="tns:IClaimRecordingService_GetCourierDurations_InputMessage" />
      <wsdl:output wsaw:Action="http://elita.assurant.com/Elita/Claim/RecordingService/IClaimRecordingService/GetCourierDurationsResponse" message="tns:IClaimRecordingService_GetCourierDurations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>