ElitaPlus/Service References/ClaimRecordingService/ClaimRecordingService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimService.BusinessRulesEngineInterface.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimService.BusinessRulesEngineInterface.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ElitaClaimService/ClaimRecordingService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="PolicyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClaimSummary" nillable="true" type="tns:ArrayOfClaimInfo" />
      <xs:element minOccurs="0" name="ClaimWaitingPeriod" type="xs:int" />
      <xs:element minOccurs="0" name="ContractSigned" type="xs:boolean" />
      <xs:element minOccurs="0" name="CoverageSummary" nillable="true" type="tns:ArrayOfCertificateItemCoverage" />
      <xs:element minOccurs="0" name="NumberOfClaimsAllowed" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfRepairClaimsAllowed" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfReplacementClaimsAllowed" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentAmountDue" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PolicyId" type="ser:guid" />
      <xs:element minOccurs="0" name="PolicyLiabilityLimit" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductClaimLimit" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProductClaimLimitPerDevice" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductLiabilityApplicableTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductLiabilityLimitBasedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductSalesDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubsriberStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseClaimAuthorizationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarrantySalesDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PolicyInfo" nillable="true" type="tns:PolicyInfo" />
  <xs:complexType name="ArrayOfClaimInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClaimInfo" nillable="true" type="tns:ClaimInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClaimInfo" nillable="true" type="tns:ArrayOfClaimInfo" />
  <xs:complexType name="ClaimInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AauthorizedAmountSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="AuthorizationCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AuthorizationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthorizedAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CallerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallerRelationshipTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CauseOfLoss" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CertificateNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimAuthTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimClosedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ClaimConsequentialDamages" nillable="true" type="tns:ArrayOfClaimConsequentialDamage" />
      <xs:element minOccurs="0" name="ClaimEquipment" nillable="true" type="tns:ClaimEquipment" />
      <xs:element minOccurs="0" name="ClaimId" type="ser:guid" />
      <xs:element minOccurs="0" name="ClaimNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClosedReasonCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Coverage" nillable="true" type="tns:CertificateItemCoverage" />
      <xs:element minOccurs="0" name="CoverageTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfLoss" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateOfReporting" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deductible" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DeductibleSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="DeniedReasonCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExtendedStatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FollowUpDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FulfillmentOptionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Issues" nillable="true" type="tns:ArrayOfIssue" />
      <xs:element minOccurs="0" name="MasterClaimNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MethodOfRepair" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MgrAuthAmountFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="PaymentAmountSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="PaymentAmountWithoutConseqDamage" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProblemDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RiskType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceCenterCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WhoPaysCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClaimInfo" nillable="true" type="tns:ClaimInfo" />
  <xs:complexType name="ArrayOfClaimConsequentialDamage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClaimConsequentialDamage" nillable="true" type="tns:ClaimConsequentialDamage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClaimConsequentialDamage" nillable="true" type="tns:ArrayOfClaimConsequentialDamage" />
  <xs:complexType name="ClaimConsequentialDamage">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApprovedAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CaseConsequentialDamageId" type="ser:guid" />
      <xs:element minOccurs="0" name="ClaimId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ConsequentialDamageCode" type="tns:ConsequentialDamageTypes" />
      <xs:element minOccurs="0" name="CoverageConsequentialDamageId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="RequestedAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Status" type="tns:ConsequentialDamageStatuses" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClaimConsequentialDamage" nillable="true" type="tns:ClaimConsequentialDamage" />
  <xs:simpleType name="ConsequentialDamageTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UnauthorizedCalls" />
      <xs:enumeration value="Accessories" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConsequentialDamageTypes" nillable="true" type="tns:ConsequentialDamageTypes" />
  <xs:simpleType name="ConsequentialDamageStatuses">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Requested" />
      <xs:enumeration value="Approved" />
      <xs:enumeration value="Denied" />
      <xs:enumeration value="Fulfilled" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConsequentialDamageStatuses" nillable="true" type="tns:ConsequentialDamageStatuses" />
  <xs:complexType name="ClaimEquipment">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClaimEquipmentTypeCode" type="tns:ClaimEquipmentTypes" />
      <xs:element minOccurs="0" name="ClaimedEquipment" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClaimEquipment" nillable="true" type="tns:ClaimEquipment" />
  <xs:simpleType name="ClaimEquipmentTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Claimed" />
      <xs:enumeration value="Enrolled" />
      <xs:enumeration value="R" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ClaimEquipmentTypes" nillable="true" type="tns:ClaimEquipmentTypes" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="Capacity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Carrier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnrollmentItem" type="xs:boolean" />
      <xs:element minOccurs="0" name="ImeiNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndixId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurchasePrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PurchasedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RegisteredName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SkuNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="CertificateItemCoverage">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeginDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ConsequentialDamageEffectiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ConsequentialDamageExpirationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ConsequentialDamageType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoverageClaimLimit" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CoverageConsequentialDamageId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="CoverageDeductibles" nillable="true" type="tns:ArrayOfCertificateItemCoverageDeductible" />
      <xs:element minOccurs="0" name="CoverageLiabilityLimit" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CoverageTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GrossAmountReceived" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsClaimAllowed" type="xs:boolean" />
      <xs:element minOccurs="0" name="LiabilityLimitCumulative" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LiabilityLimitPerIncident" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MethodOfRepair" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CertificateItemCoverage" nillable="true" type="tns:CertificateItemCoverage" />
  <xs:complexType name="ArrayOfCertificateItemCoverageDeductible">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CertificateItemCoverageDeductible" nillable="true" type="tns:CertificateItemCoverageDeductible" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCertificateItemCoverageDeductible" nillable="true" type="tns:ArrayOfCertificateItemCoverageDeductible" />
  <xs:complexType name="CertificateItemCoverageDeductible">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeductiblExpressionId" type="ser:guid" />
      <xs:element minOccurs="0" name="Deductible" type="xs:decimal" />
      <xs:element minOccurs="0" name="DeductibleBasedOnCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CertificateItemCoverageDeductible" nillable="true" type="tns:CertificateItemCoverageDeductible" />
  <xs:complexType name="ArrayOfIssue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Issue" nillable="true" type="tns:Issue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIssue" nillable="true" type="tns:ArrayOfIssue" />
  <xs:complexType name="Issue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Issue" nillable="true" type="tns:Issue" />
  <xs:complexType name="ArrayOfCertificateItemCoverage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CertificateItemCoverage" nillable="true" type="tns:CertificateItemCoverage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCertificateItemCoverage" nillable="true" type="tns:ArrayOfCertificateItemCoverage" />
</xs:schema>