ElitaPlus/Service References/ClaimRecordingService/ClaimRecordingService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20377/ClaimRecordingService.svc?xsd=xsd1" namespace="http://elita.assurant.com/Elita/Claim/RecordingService/DataContracts" />
  <xs:complexType name="ArrayOfKeyValueOfstringArrayOfQuestionKjP37BP8">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringArrayOfQuestionKjP37BP8">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element xmlns:q1="http://elita.assurant.com/Elita/Claim/RecordingService/DataContracts" name="Value" nillable="true" type="q1:ArrayOfQuestion" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringArrayOfQuestionKjP37BP8" nillable="true" type="tns:ArrayOfKeyValueOfstringArrayOfQuestionKjP37BP8" />
</xs:schema>