ElitaPlus/Service References/ClaimRecordingService/ClaimRecordingService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimService.Contracts.Recording.Shared.ClaimRecordingResponse" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Assurant.Elita.ClaimService.Contracts.Recording.Shared.ClaimRecordingResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ElitaClaimService/ClaimRecordingService.svc?xsd=xsd1" namespace="http://elita.assurant.com/Elita/Claim/RecordingService/DataContracts" />
  <xs:complexType name="ActionResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://elita.assurant.com/Elita/Claim/RecordingService/DataContracts" base="q1:BaseClaimRecordingResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Actions" nillable="true" type="q1:ArrayOfCustomerActionResponse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActionResponse" nillable="true" type="tns:ActionResponse" />
  <xs:simpleType name="TroubleShootingOptionFlag">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Troubleshootingoptional" />
      <xs:enumeration value="Troubleshootingmandatory" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TroubleShootingOptionFlag" nillable="true" type="tns:TroubleShootingOptionFlag" />
</xs:schema>