ElitaPlus/Service References/ClaimFulfillmentService/FulfillmentService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://elita.assurant.com/Elita/FulfillmentService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ElitaFulfillmentService/FulfillmentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Assurant.Elita.FulfillmentService.Contracts.Fulfillment.Inventory" />
  <xs:import schemaLocation="http://localhost/ElitaFulfillmentService/FulfillmentService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Assurant.Elita.FulfillmentService.DataElements.Fulfillment" />
  <xs:import schemaLocation="http://localhost/ElitaFulfillmentService/FulfillmentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/ElitaFulfillmentService/FulfillmentService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Assurant.Elita.FulfillmentService.Contracts.Fulfillment.Orders" />
  <xs:import schemaLocation="http://localhost/ElitaFulfillmentService/FulfillmentService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Assurant.Elita.FulfillmentService.Contracts.Fulfillment" />
  <xs:element name="InventoryCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Assurant.Elita.FulfillmentService.Contracts.Fulfillment.Inventory" minOccurs="0" name="request" nillable="true" type="q1:CheckInventoryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventoryCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Assurant.Elita.FulfillmentService.Contracts.Fulfillment.Inventory" minOccurs="0" name="InventoryCheckResult" nillable="true" type="q2:ItemInventoryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="BaseFulfillmentResponse">
    <xs:sequence>
      <xs:element name="ResponseStatus" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Assurant.Elita.FulfillmentService.DataElements.Fulfillment" minOccurs="0" name="Error" nillable="true" type="q3:ErrorDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q4="http://elita.assurant.com/Elita/FulfillmentService" name="BaseFulfillmentResponse" nillable="true" type="q4:BaseFulfillmentResponse" />
  <xs:element name="InventoryCheckList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Assurant.Elita.FulfillmentService.Contracts.Fulfillment.Inventory" minOccurs="0" name="request" nillable="true" type="q5:CheckInventoryListRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventoryCheckListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Assurant.Elita.FulfillmentService.Contracts.Fulfillment.Inventory" minOccurs="0" name="InventoryCheckListResult" nillable="true" type="q6:ItemInventoryListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartFulfillmentProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://elita.assurant.com/Elita/FulfillmentService" minOccurs="0" name="request" nillable="true" type="q7:BaseFulfillmentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="BaseFulfillmentRequest">
    <xs:sequence>
      <xs:element name="CompanyCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="ClaimNumber" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q8="http://elita.assurant.com/Elita/FulfillmentService" name="BaseFulfillmentRequest" nillable="true" type="q8:BaseFulfillmentRequest" />
  <xs:element name="StartFulfillmentProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://elita.assurant.com/Elita/FulfillmentService" minOccurs="0" name="StartFulfillmentProcessResult" nillable="true" type="q9:BaseFulfillmentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConseqDamageAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://elita.assurant.com/Elita/FulfillmentService" minOccurs="0" name="request" nillable="true" type="q10:ConseqDamageFulfillmentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ConseqDamageFulfillmentRequest">
    <xs:sequence>
      <xs:element name="CaseConseqDamageId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q11="http://elita.assurant.com/Elita/FulfillmentService" name="ConseqDamageFulfillmentRequest" nillable="true" type="q11:ConseqDamageFulfillmentRequest" />
  <xs:element name="AddConseqDamageAuthorizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://elita.assurant.com/Elita/FulfillmentService" minOccurs="0" name="AddConseqDamageAuthorizationResult" nillable="true" type="q12:BaseFulfillmentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchVendorSKU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Assurant.Elita.FulfillmentService.Contracts.Fulfillment.Inventory" minOccurs="0" name="request" nillable="true" type="q13:SearchSKURequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchVendorSKUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Assurant.Elita.FulfillmentService.Contracts.Fulfillment.Inventory" minOccurs="0" name="SearchVendorSKUResult" nillable="true" type="q14:SearchSKUResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Assurant.Elita.FulfillmentService.Contracts.Fulfillment.Orders" minOccurs="0" name="orderStatus" nillable="true" type="q15:OrderStatusRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Assurant.Elita.FulfillmentService.Contracts.Fulfillment.Orders" minOccurs="0" name="UpdateOrderStatusResult" nillable="true" type="q16:OrderStatusResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitServiceOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Assurant.Elita.FulfillmentService.Contracts.Fulfillment.Orders" minOccurs="0" name="request" nillable="true" type="q17:ProcessServiceOrderRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitServiceOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Assurant.Elita.FulfillmentService.Contracts.Fulfillment.Orders" minOccurs="0" name="SubmitServiceOrderResult" nillable="true" type="q18:ProcessServiceOrderResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateServiceOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://elita.assurant.com/Elita/FulfillmentService" minOccurs="0" name="request" nillable="true" type="q19:UpdateServiceOrderRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="UpdateServiceOrderRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="http://elita.assurant.com/Elita/FulfillmentService" base="q20:BaseFulfillmentRequest">
        <xs:sequence>
          <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Assurant.Elita.FulfillmentService.DataElements.Fulfillment" name="OrderUpdate" nillable="true" type="q21:OrderInfo">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="addrDetails" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q22="http://elita.assurant.com/Elita/FulfillmentService" name="UpdateServiceOrderRequest" nillable="true" type="q22:UpdateServiceOrderRequest" />
  <xs:element name="UpdateServiceOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Assurant.Elita.FulfillmentService.Contracts.Fulfillment.Orders" minOccurs="0" name="UpdateServiceOrderResult" nillable="true" type="q23:ProcessServiceOrderResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelServiceOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://elita.assurant.com/Elita/FulfillmentService" minOccurs="0" name="request" nillable="true" type="q24:UpdateServiceOrderRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelServiceOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Assurant.Elita.FulfillmentService.Contracts.Fulfillment.Orders" minOccurs="0" name="CancelServiceOrderResult" nillable="true" type="q25:ProcessServiceOrderResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelServiceOrderAndUpdateAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Assurant.Elita.FulfillmentService.Contracts.Fulfillment.Orders" minOccurs="0" name="request" nillable="true" type="q26:CancelServiceOrderRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelServiceOrderAndUpdateAuthorizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Assurant.Elita.FulfillmentService.Contracts.Fulfillment.Orders" minOccurs="0" name="CancelServiceOrderAndUpdateAuthorizationResult" nillable="true" type="q27:ProcessServiceOrderResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorizationDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://elita.assurant.com/Elita/FulfillmentService" minOccurs="0" name="request" nillable="true" type="q28:GetAuthorizationDetailsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="GetAuthorizationDetailsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q29="http://elita.assurant.com/Elita/FulfillmentService" base="q29:BaseFulfillmentRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="AuthorizationNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CultureCode" nillable="true" type="xs:string" />
          <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Assurant.Elita.FulfillmentService.DataElements.Fulfillment" minOccurs="0" name="AuthDetails" nillable="true" type="q30:ArrayOfAuthDetailOptions" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q31="http://elita.assurant.com/Elita/FulfillmentService" name="GetAuthorizationDetailsRequest" nillable="true" type="q31:GetAuthorizationDetailsRequest" />
  <xs:element name="GetAuthorizationDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Assurant.Elita.FulfillmentService.Contracts.Fulfillment" minOccurs="0" name="GetAuthorizationDetailsResult" nillable="true" type="q32:GetAuthorizationDetailsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddServiceWarranty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://elita.assurant.com/Elita/FulfillmentService" minOccurs="0" name="request" nillable="true" type="q33:BaseFulfillmentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddServiceWarrantyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://elita.assurant.com/Elita/FulfillmentService" minOccurs="0" name="AddServiceWarrantyResult" nillable="true" type="q34:BaseFulfillmentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessIssueAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://elita.assurant.com/Elita/FulfillmentService" minOccurs="0" name="request" nillable="true" type="q35:IssueAnswerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="IssueAnswerRequest">
    <xs:sequence>
      <xs:element name="ClaimFulfillmentIssueResponseId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q36="http://elita.assurant.com/Elita/FulfillmentService" name="IssueAnswerRequest" nillable="true" type="q36:IssueAnswerRequest" />
  <xs:element name="ProcessIssueAnswerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://elita.assurant.com/Elita/FulfillmentService" minOccurs="0" name="ProcessIssueAnswerResult" nillable="true" type="q37:IssueAnswerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="IssueAnswerResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q38="http://elita.assurant.com/Elita/FulfillmentService" base="q38:BaseFulfillmentResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsIssueResolved" type="xs:boolean">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="IsNewAuthorizationAdded" type="xs:boolean">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="IsNewIssueAdded" type="xs:boolean">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="NewAuthorizationPendingWithIssue" type="xs:boolean">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q39="http://elita.assurant.com/Elita/FulfillmentService" name="IssueAnswerResponse" nillable="true" type="q39:IssueAnswerResponse" />
  <xs:element name="ReSendFailedServiceOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://elita.assurant.com/Elita/FulfillmentService" minOccurs="0" name="request" nillable="true" type="q40:ReSentServiceOrderRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ReSentServiceOrderRequest">
    <xs:sequence>
      <xs:element name="AuthorizationIssueId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q41="http://elita.assurant.com/Elita/FulfillmentService" name="ReSentServiceOrderRequest" nillable="true" type="q41:ReSentServiceOrderRequest" />
  <xs:element name="ReSendFailedServiceOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://elita.assurant.com/Elita/FulfillmentService" minOccurs="0" name="ReSendFailedServiceOrderResult" nillable="true" type="q42:BaseFulfillmentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimReimbursementAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://elita.assurant.com/Elita/FulfillmentService" minOccurs="0" name="request" nillable="true" type="q43:BaseFulfillmentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimReimbursementAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Assurant.Elita.FulfillmentService.Contracts.Fulfillment" minOccurs="0" name="GetClaimReimbursementAmountResult" nillable="true" type="q44:GetClaimReimburseAmountResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitFulfillmentIssueAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://elita.assurant.com/Elita/FulfillmentService" minOccurs="0" name="request" nillable="true" type="q45:SubmitIssueAnswerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SubmitIssueAnswerRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q46="http://elita.assurant.com/Elita/FulfillmentService" base="q46:BaseFulfillmentRequest">
        <xs:sequence>
          <xs:element name="AuthorizationNumber" nillable="true" type="xs:string" />
          <xs:element name="IssueCode" nillable="true" type="xs:string" />
          <xs:element name="AnswerCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AnswerData" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BankInfo" nillable="true" type="q46:BankInfo" />
          <xs:element minOccurs="0" name="Device" nillable="true" type="q46:DeviceInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q47="http://elita.assurant.com/Elita/FulfillmentService" name="SubmitIssueAnswerRequest" nillable="true" type="q47:SubmitIssueAnswerRequest" />
  <xs:complexType name="BankInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountOwnerName" nillable="true" type="xs:string" />
      <xs:element xmlns:q48="http://elita.assurant.com/Elita/FulfillmentService" minOccurs="0" name="AccountType" nillable="true" type="q48:AccountTypes" />
      <xs:element minOccurs="0" name="BankLookupCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankSortCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IbanNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SwiftCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q49="http://elita.assurant.com/Elita/FulfillmentService" name="BankInfo" nillable="true" type="q49:BankInfo" />
  <xs:simpleType name="AccountTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Checking">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Saving">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q50="http://elita.assurant.com/Elita/FulfillmentService" name="AccountTypes" nillable="true" type="q50:AccountTypes" />
  <xs:complexType name="DeviceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImeiNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Memory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingFromDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingFromName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SkuNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q51="http://elita.assurant.com/Elita/FulfillmentService" name="DeviceInfo" nillable="true" type="q51:DeviceInfo" />
  <xs:element name="SubmitFulfillmentIssueAnswerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://elita.assurant.com/Elita/FulfillmentService" minOccurs="0" name="SubmitFulfillmentIssueAnswerResult" nillable="true" type="q52:SubmitIssueAnswerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SubmitIssueAnswerResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q53="http://elita.assurant.com/Elita/FulfillmentService" base="q53:BaseFulfillmentResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsIssueResolved" type="xs:boolean">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="IsNewAuthorizationAdded" type="xs:boolean">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="IsNewIssueAdded" type="xs:boolean">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="NewAuthorizationPendingWithIssue" type="xs:boolean">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="NewCaseNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q54="http://elita.assurant.com/Elita/FulfillmentService" name="SubmitIssueAnswerResponse" nillable="true" type="q54:SubmitIssueAnswerResponse" />
  <xs:element name="SearchVendorInventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://elita.assurant.com/Elita/FulfillmentService" minOccurs="0" name="request" nillable="true" type="q55:SearchVendorInventoryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SearchVendorInventoryRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element name="DealerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Memory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element name="RecordCountRequested" type="xs:short" />
      <xs:element minOccurs="0" name="ServiceCenterCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VendorSkuNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q56="http://elita.assurant.com/Elita/FulfillmentService" name="SearchVendorInventoryRequest" nillable="true" type="q56:SearchVendorInventoryRequest" />
  <xs:element name="SearchVendorInventoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Assurant.Elita.FulfillmentService.Contracts.Fulfillment.Inventory" minOccurs="0" name="SearchVendorInventoryResult" nillable="true" type="q57:SearchVendorInventoryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckVendorInventoryAndBestReplacement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://elita.assurant.com/Elita/FulfillmentService" minOccurs="0" name="request" nillable="true" type="q58:CheckVendorInventoryAndBestReplacementRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CheckVendorInventoryAndBestReplacementRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element name="DealerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Memory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReserveInventory" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReturnBestReplacement" type="xs:boolean" />
      <xs:element minOccurs="0" name="ServiceCenterCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VendorSkuNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q59="http://elita.assurant.com/Elita/FulfillmentService" name="CheckVendorInventoryAndBestReplacementRequest" nillable="true" type="q59:CheckVendorInventoryAndBestReplacementRequest" />
  <xs:element name="CheckVendorInventoryAndBestReplacementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Assurant.Elita.FulfillmentService.Contracts.Fulfillment.Inventory" minOccurs="0" name="CheckVendorInventoryAndBestReplacementResult" nillable="true" type="q60:CheckVendorInventoryAndBestReplacementResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>