ElitaPlus/Service References/ClaimFulfillmentWebAppGatewayService/gateway3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://assurant.com/Elita/ClaimFulfillment/Data" elementFormDefault="qualified" targetNamespace="http://assurant.com/Elita/ClaimFulfillment/Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://l16mia0d8113qr8/ElitaClaimFulfillment/WebAppGateway/gateway?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="FulfillmentServiceCentersRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dealer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RiskTypeEnglish" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MethodOfRepairXcd" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FulfillmentServiceCentersRequest" nillable="true" type="tns:FulfillmentServiceCentersRequest" />
  <xs:complexType name="FulfillmentServiceCentersByCityRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FulfillmentServiceCentersRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FulfillmentServiceCentersByCityRequest" nillable="true" type="tns:FulfillmentServiceCentersByCityRequest" />
  <xs:complexType name="FulfillmentServiceCentersByPostalCodeRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FulfillmentServiceCentersRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FulfillmentServiceCentersByPostalCodeRequest" nillable="true" type="tns:FulfillmentServiceCentersByPostalCodeRequest" />
  <xs:complexType name="FulfillmentAllServiceCentersRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FulfillmentServiceCentersRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FulfillmentAllServiceCentersRequest" nillable="true" type="tns:FulfillmentAllServiceCentersRequest" />
  <xs:complexType name="FulfillmentDefaultServiceCentersRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FulfillmentServiceCentersRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FulfillmentDefaultServiceCentersRequest" nillable="true" type="tns:FulfillmentDefaultServiceCentersRequest" />
  <xs:complexType name="ArrayOfFulfillmentServicesCenter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FulfillmentServicesCenter" nillable="true" type="tns:FulfillmentServicesCenter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFulfillmentServicesCenter" nillable="true" type="tns:ArrayOfFulfillmentServicesCenter" />
  <xs:complexType name="FulfillmentServicesCenter">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceCenterId" type="ser:guid" />
      <xs:element minOccurs="0" name="ServiceCenterCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pref" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Selected" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FulfillmentServicesCenter" nillable="true" type="tns:FulfillmentServicesCenter" />
</xs:schema>