ElitaPlus/Service References/ClaimFulfillmentWebAppGatewayService/gateway32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://assurant.com/Elita/ClaimFulfillment/WebAppGateway" elementFormDefault="qualified" targetNamespace="http://assurant.com/Elita/ClaimFulfillment/WebAppGateway" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://l16mia0d8386gr7.cead.prd/ElitaClaimFulfillment/WebAppGateway/gateway?xsd=xsd2" namespace="http://assurant.com/Elita/ClaimFulfillment/WebAppGateway/Data" />
  <xs:element name="GetDeliverySlots">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://assurant.com/Elita/ClaimFulfillment/WebAppGateway/Data" minOccurs="0" name="request" nillable="true" type="q1:GetDeliverySlotsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliverySlotsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://assurant.com/Elita/ClaimFulfillment/WebAppGateway/Data" minOccurs="0" name="GetDeliverySlotsResult" nillable="true" type="q2:GetDeliverySlotsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerDecision">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://assurant.com/Elita/ClaimFulfillment/WebAppGateway/Data" minOccurs="0" name="request" nillable="true" type="q3:CustomerDecisionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerDecisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://assurant.com/Elita/ClaimFulfillment/WebAppGateway/Data" minOccurs="0" name="CustomerDecisionResult" nillable="true" type="q4:CustomerDecisionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>